Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

feat: copy paste from sharer to controller (#328)
  core/src/input/clipboard.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
  docs/astro.config.mjs
  docs/src/content/docs/features/clipboard.mdx
Due: cargo_fmt, prettier

add: telemetry disabling
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/services/sentry.tsx
  tauri/src/windows/main-window/main.tsx
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

improvement: send user id instead of email on sentry events
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

fix: clippy and code rabbit
  core/sentry_utils/src/lib.rs
  tauri/src/services/sentry.tsx
Due: cargo_fmt, prettier

fix:
  tauri/src/services/sentry.tsx
  tauri/src/windows/main-window/main.tsx
Due: prettier

improvement: allow disabling telemetry (#329)
  .github/workflows/publish-backend-image.yml
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  docs/src/content/docs/open-source/self-hosting.md
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/services/sentry.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/main.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
  web-app/src/App.tsx
  web-app/src/constants.ts
  web-app/src/pages/Dashboard.tsx
Due: cargo_fmt, prettier

chore: review feedback
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
  backend/internal/common/common.go
  backend/internal/common/utils.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/livekitutil/livekitutil.go
  backend/internal/messages/messages.go
  backend/internal/models/user.go
  backend/internal/redisutil/redisutil.go
  backend/internal/server/server.go
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

chore: github bot comment
  tauri/src/components/ui/hopp-avatar.tsx
Due: prettier

bump version
  tauri/src-tauri/tauri.conf.json
Due: none

feature: show call info about other users (#324)
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
  backend/internal/common/common.go
  backend/internal/common/utils.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/livekitutil/livekitutil.go
  backend/internal/messages/messages.go
  backend/internal/models/user.go
  backend/internal/redisutil/redisutil.go
  backend/internal/server/server.go
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/openapi.d.ts
  tauri/src/payloads.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

design: only have light theme in settings page
  tauri/settings.html
  tauri/src/windows/settings/main.tsx
Due: prettier

feat: enable auto-updates
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/core_payloads.ts
  tauri/src/lib/auto-update.ts
  tauri/src/update.ts
  tauri/src/windows/main-window/app.tsx
Due: cargo_fmt, prettier

design: redesign call center and more
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/tooltip.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

fix: room single user
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/websocketHandlers.go
Due: none

improvement: have sentry dsn env for testing release build
  tauri/Taskfile.yml
Due: none

fix: room single user (#332)
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: improve cpu usage when capturing
  core/.cargo/config.toml
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/lib.rs
Due: cargo_fmt

chore: update runners
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/release.yml
  .github/workflows/tauri_rust_reusable.yml
Due: none

fix: reduntant cargo change
  core/Cargo.toml
Due: none

docs: document shortcuts
  docs/src/content/docs/features/keyboard-navigation.mdx
Due: none

design: redesign call center and more (#331)
  docs/src/content/docs/features/keyboard-navigation.mdx
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/tooltip.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

fix: improve cpu usage when capturing on macOS (#334)
  core/.cargo/config.toml
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/lib.rs
Due: cargo_fmt

feat: enable auto-updates (#330)
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/core_payloads.ts
  tauri/src/lib/auto-update.ts
  tauri/src/update.ts
  tauri/src/windows/main-window/app.tsx
Due: cargo_fmt, prettier

remove: dead code
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

improvement: reduce chances of scroll segfault
  tauri/src/windows/main-window/app.tsx
Due: prettier

feat: move noise cancellation to settings page
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/settings/main.tsx
Due: prettier

fix: move noise cancellation to persisted app setting
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

add: pinning button for camera window
  core/src/components/split_button.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

feat: move noise cancellation to settings page (#341)
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

improvement: reduce changes of webview scroll crash (#337)
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: design and icon gen
  core/resources/.fantasticonrc.cjs
  core/resources/icons-font-ttf/icons.css
  core/resources/icons-font-ttf/icons.html
  core/resources/icons-font-ttf/icons.ttf
  core/resources/icons-font/pin-angle.svg
  core/src/components/split_button.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt, prettier

chore: remove obsolete 30-day free trial
  backend/internal/models/user.go
  backend/web/emails/hopp-welcome.html
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

chore: remove obsolete 30-day free trial (#343)
  backend/internal/models/user.go
  backend/web/emails/hopp-welcome.html
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

add: button for pinning camera (#342)
  core/resources/.fantasticonrc.cjs
  core/resources/icons-font-ttf/icons.css
  core/resources/icons-font-ttf/icons.html
  core/resources/icons-font-ttf/icons.ttf
  core/resources/icons-font/pin-angle.svg
  core/src/window/camera_window.rs
Due: cargo_fmt, prettier

improvement: move ownership of graphics context to window manager
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

improvement: reuse the surface for the graphics context
  core/analyze_vmmap.sh
  core/first.txt
  core/first_1.txt
  core/leaked_iosurfaces.sh
  core/second.txt
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/participant.rs
  core/src/lib.rs
  core/src/window_manager.rs
  core/third.txt
Due: cargo_fmt

improvement: reuse camera window
  core/first.txt
  core/first_1.txt
  core/second.txt
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/third.txt
Due: cargo_fmt

improvement: clean up the gpu memory from the engine
  core/src/graphics/graphics_context.rs
  core/src/graphics/graphics_window_context.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

improvement: reuse screensharing window
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
