Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

echo again
  core/src/audio/mixer.rs
  core/src/audio/processor.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

echo try again
  core/Cargo.lock
  core/Cargo.toml
  core/src/audio/capturer.rs
  core/src/audio/mixer.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

update AGENTS.md
  core/AGENTS.md
Due: none

make screen-share rendering faster
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

update broken dub.sh links
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-team-removed.html
  backend/web/emails/hopp-unsubscribe.html
  backend/web/emails/hopp-welcome.html
Due: none

add proper glass effect, fix focus bug, and add intialise call flag
  .gitignore
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  core/src/window/vibrancy.rs
  core/tests/src/camera.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/tray.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

add kill switch to core again
  core/src/lib.rs
Due: cargo_fmt

add timeout to room service commands
  core/src/room_service.rs
Due: cargo_fmt

get max window size and location on runtime
  core/src/window/screensharing_window.rs
Due: cargo_fmt

upload logs on failed resposne
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

open content picker from camera window
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/camera_window.rs
  core/tests/src/screenshare_client.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

build src tauri with task
  tauri/Taskfile.yml
Due: none

wip fix activation stuff
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/app_activation.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

use av1 on default
  core/src/room_service.rs
  tauri/src/windows/contentPicker/main.tsx
Due: cargo_fmt, prettier

testing
  core/src/room_service.rs
  tauri/src-tauri/src/app_activation.rs
Due: cargo_fmt

improvement
  core/src/room_service.rs
Due: cargo_fmt

.
  core/src/room_service.rs
Due: cargo_fmt

feat: make tauri more reliable, faster room joining, cancellable connect and more
  backend/internal/handlers/utils.go
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/room-button.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

fix: open screenshare window from tauri
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
  tauri/src/store/store.ts
Due: cargo_fmt, prettier

select codecs testing
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/shaders/yuv_shader.wgsl
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/contentPicker/main.tsx
Due: cargo_fmt, prettier

fix(ui): hide scrollbar on all platforms, not just Windows
  tauri/src/App.css
Due: none

use h264 for screen-sharing
  core/Cargo.lock
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

handle cmd+tab + dock icon
  tauri/src-tauri/src/app_activation.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix init resize race issues
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: app nap
  tauri/package.json
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/Info.plist
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/lib/utils.ts
  tauri/src/windows/main-window/main.tsx
  yarn.lock
Due: cargo_fmt, prettier

fix: formatting
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: send end call when caller cancels call request
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: race condition
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

change version
  tauri/src-tauri/tauri.conf.json
Due: none

fix: app nap and end-call ack from callee (#274)
  tauri/package.json
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/Info.plist
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/utils.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/main.tsx
  yarn.lock
Due: cargo_fmt, prettier

fix: disable simple fullscreen on window hide
  core/src/window/screensharing_window.rs
  core/src/window_manager.rs
Due: cargo_fmt

feat: camera placeholders, toast component and more
  core/Cargo.lock
  core/Cargo.toml
  core/src/components/mod.rs
  core/src/components/segmented_control.rs
  core/src/components/toast.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/camera_window.rs
  core/tests/src/camera.rs
  core/tests/src/remote_keyboard.rs
  tauri/src-tauri/src/app_activation.rs
Due: cargo_fmt

fix mic select race
  tauri/src/components/ui/call-center.tsx
Due: prettier

use h264 for camera
  core/src/room_service.rs
Due: cargo_fmt

drain audio buffers, playback and capturing
  core/src/audio/mixer.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

minor change
  core/src/audio/mixer.rs
Due: cargo_fmt

fmt: inline feedback
  backend/internal/handlers/handlers.go
Due: none

chore: remove unused code
  backend/internal/handlers/handlers.go
Due: none

fix: remove minor transparent border
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt
