Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

chore: fix clippy
  core/src/capture/capturer.rs
Due: cargo_fmt

feat: add maximise button to screenshare window (#175)
  tauri/contentPicker.html
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

feat: new cursor designs (#177)
  core/src/capture/capturer.rs
  core/src/utils/svg_renderer.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/cursor.tsx
Due: cargo_fmt, prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

7day cookie notification for showing last sign-in service
  web-app/src/pages/Login.tsx
Due: prettier

fix: fix compilation issues
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/camera/main.tsx
Due: prettier

fix: set dynamic colour to pointer cursor
  core/src/utils/svg_renderer.rs
Due: cargo_fmt

improvement: draw only when needed
  core/src/graphics/click_animation.rs
  core/src/input/mouse.rs
Due: cargo_fmt

fix: logging
  core/src/input/mouse.rs
Due: cargo_fmt

chore: fix clippy
  core/src/capture/capturer.rs
  core/src/input/mouse.rs
Due: cargo_fmt

improvement: draw only when needed (#180)
  core/src/capture/capturer.rs
  core/src/graphics/click_animation.rs
  core/src/input/mouse.rs
Due: cargo_fmt

fix: cursor rendering bad screens and controller opacity
  core/src/graphics/cursor.rs
  core/src/utils/svg_renderer.rs
  tauri/src/components/ui/cursor.tsx
Due: cargo_fmt, prettier

fix: fix winit bug with wrong display scale
  core/socket_lib/src/lib.rs
  core/src/lib.rs
Due: cargo_fmt

chore: make drawing delay smaller
  core/src/input/mouse.rs
Due: cargo_fmt

chore: reduce scale
  core/src/graphics/cursor.rs
  core/src/utils/svg_renderer.rs
Due: cargo_fmt

fix: fix hiding and reduce sleep
  core/src/input/mouse.rs
Due: cargo_fmt

fix: cursor rendering bad screens and controller opacity (#182)
  core/socket_lib/src/lib.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/utils/svg_renderer.rs
  tauri/src/components/ui/cursor.tsx
Due: cargo_fmt, prettier

Use higher camera res when not screensharing
  tauri/src/components/ui/call-center.tsx
Due: prettier

feat: add minimise button in camera
  tauri/src-tauri/src/main.rs
  tauri/src/windows/camera/main.tsx
Due: cargo_fmt, prettier

design: moved remote control disabled indicator to the end of title bar
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

improvement: add debuging bandwidth logs in core
  core/src/room_service.rs
Due: cargo_fmt

feat: allow bigger camera windows
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
Due: prettier

improvement: lower the quality for the self track when hidden
  tauri/src/windows/camera/main.tsx
Due: prettier

fix: fixes
  tauri/src/windows/camera/main.tsx
Due: prettier

design: moved remote control disabled indicator to the end of title bar (#184)
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

design: truncate long names with ellipsis and add tooltip on hover
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

improvement: merge user_token.txt with app_state.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: use correct name
  tauri/src-tauri/src/app_state.rs
Due: cargo_fmt

improvement: merge user_token.txt with app_state.json (#188)
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement(core): give control to sharer when goes out of bounds
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/overlay_window.rs
Due: cargo_fmt

chore: remove title props and change icon
  tauri/src/windows/camera/main.tsx
Due: prettier

design: truncate long names with ellipsis and add tooltip on hover (#187)
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

feat: allow bigger camera window (#185)
  core/src/room_service.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
Due: cargo_fmt, prettier

improvement(core): give control to sharer when goes out of bounds (#189)
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/overlay_window.rs
Due: cargo_fmt

feat: mic level feedback
  tauri/src/components/ui/bar-visualizer.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/icons.tsx
  tauri/src/components/ui/live-waveform.tsx
Due: prettier

improvement(frontend): limit self camera bandwidth usage
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
Due: prettier

improvement(frontend): limit self camera bandwidth usage (#191)
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
Due: prettier

feat: rewardful integration
  backend/api-files/openapi.yaml
  backend/internal/handlers/billing.go
  tauri/src/openapi.d.ts
  tauri/vite.config.ts
  web-app/src/lib/rewardful.js
  web-app/src/main.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
  web-app/tsconfig.app.json
Due: prettier

improvement(core): update livekit fork
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
Due: cargo_fmt

feat: reneable av1
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
