Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix: improve camera window resource usage
  core/Cargo.toml
  core/src/camera/stream_macos.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

improvement: throttle cursor move events
  core/src/room_service.rs
Due: cargo_fmt

improve write_texture
  core/src/graphics/yuv_renderer.rs
Due: cargo_fmt

use h264 for camera too
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

fix clippy
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: coderabbit comments
  core/src/camera/stream_macos.rs
  core/src/graphics/yuv_renderer.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: improve camera window resource usage (#294)
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream_macos.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: skip ui building in non redraw events in screensharing
  core/src/window/screensharing_window.rs
Due: cargo_fmt

improvement: camera window frame rate
  core/src/camera/stream_macos.rs
  core/src/camera/stream_nokhwa.rs
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: keep resize smooth
  core/src/lib.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

chore: remove openspec leftovers
  .cursor/commands/openspec-apply.md
  .cursor/commands/openspec-archive.md
  .cursor/commands/openspec-proposal.md
  AGENTS.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

improvement: implement frame counting for camera (#295)
  core/src/camera/stream_macos.rs
  core/src/camera/stream_nokhwa.rs
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

improvement: use standalone window for local drawing
  core/src/graphics/graphics_window_context.rs
  core/src/lib.rs
  core/src/window/drawing_helpers.rs
  core/src/window/drawing_window.rs
  core/src/window/screensharing_window.rs
  core/src/window_manager.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

add: update persist on runtime
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/window/drawing_window.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: clean up after testing
  core/socket_lib/src/lib.rs
  core/src/graphics/draw.rs
  core/src/lib.rs
  core/src/window/drawing_window.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

improvement: improve flakyness on cursor change
  core/src/window/drawing_window.rs
Due: cargo_fmt

fix: ui glitches
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: content picker was sending stale call state
  tauri/src/store/store.ts
Due: prettier

add: quit button
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/core_payloads.ts
Due: cargo_fmt, prettier

fix: windows issues
  core/src/window/drawing_window.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

chore: fix format
  core/src/window/drawing_window.rs
Due: cargo_fmt

fix: handle drawing window creation error
  core/src/lib.rs
Due: cargo_fmt

fix: prevent ObjC exception crash on external camera open (#296)
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: prevent ObjC exception crash on external camera open (#296) (#298)
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream_macos.rs
Due: cargo_fmt

improvement: standalone window for sharer drawing (#297)
  core/socket_lib/src/lib.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_window_context.rs
  core/src/lib.rs
  core/src/window/drawing_helpers.rs
  core/src/window/drawing_window.rs
  core/src/window/screensharing_window.rs
  core/src/window_manager.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/store/store.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

bump version
  tauri/src-tauri/tauri.conf.json
Due: none

improvement: cmd+q kill the whole app
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: clippy
  core/src/window/screensharing_window.rs
Due: cargo_fmt

improvement: cmd+q kill the whole app (#299)
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

wip: work in progress
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/screenshare_client.rs
  tauri/package.json
  tauri/settings.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/checkbox.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/feedback/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
  tauri/vite.config.ts
  yarn.lock
Due: cargo_fmt, prettier

fix: small fixes
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

improvement: add favicon to web app
  backend/web/static/favicon.png
  web-app/index.html
Due: none

fix: format
  tauri/src-tauri/src/app_state.rs
Due: cargo_fmt

improvement: add favicon to web app (#301)
  backend/web/static/favicon.png
  web-app/index.html
Due: none

fix: coderabbit comments
  core/src/lib.rs
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: cargo_fmt, prettier

fix: update snapshot on cam fail
  core/src/lib.rs
Due: cargo_fmt

fix: clippy
  core/src/lib.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
