Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

Add note to install pre-commit
  docs/src/content/docs/open-source/contribute.md
Due: none

docs: add missing command for setup
  docs/src/content/docs/quick-start/local-development/development-workflow.mdx
Due: none

update docs flow for local dev
  docs/src/content/docs/open-source/contribute.md
Due: none

improvement: update docs flow for local dev (#148)
  docs/src/content/docs/open-source/contribute.md
Due: none

fix: issue with camera window staying alive
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: render audio from camera when enabled
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/listen-to-remote-audio.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

chore: remove unused import
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: minor fix to not attempt connect if the livekit url is not set
  tauri/src/windows/camera/main.tsx
Due: prettier

improvement: sync audio video (#149)
  tauri/src-tauri/src/lib.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/listen-to-remote-audio.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: update mic settings
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix(remote-control): avoid immediate color reuse for controller cursors
  core/src/input/mouse.rs
Due: cargo_fmt

fix(remote-control): use color pool to avoid immediate reuse for controller cursors
  core/src/input/mouse.rs
Due: cargo_fmt

fix(core): wrong documentation in point.rs
  core/src/graphics/point.rs
Due: cargo_fmt

feat: add task command for release building
  tauri/Taskfile.yml
Due: none

fix: cleanup sharing state and add hook
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
Due: prettier

fix: race condition with same caller id
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: cleanup sharing state and add hook (#156)
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: make camera window protected
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: compilation issue
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement: better ring shader
  core/src/graphics/shader.wgsl
Due: none

refactor(remote-control): simplify cursor color management This commit simplifies the color allocation by storing the color strings directly in the available_colors VecDeque.
  core/src/input/mouse.rs
Due: cargo_fmt

fix: make camera window protected (#157)
  core/src/graphics/shader.wgsl
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix(remote-control): avoid immediate color reuse for controller cursors (#151)
  core/src/input/mouse.rs
Due: cargo_fmt

fix: performance regression
  core/src/capture/stream.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

fix: performance regression (#160)
  core/src/capture/stream.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

feat: add linux waitinglist call
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: add linux waitinglist call (#161)
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: capture invite intent in posthog
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: capture invite intent in posthog (#162)
  web-app/src/pages/Dashboard.tsx
Due: prettier

chore: sentry issues
  tauri/src-tauri/tauri.conf.json
  tauri/src/services/socket.ts
Due: prettier

chore: sentry issues (#163)
  tauri/src-tauri/tauri.conf.json
  tauri/src/services/socket.ts
Due: prettier

fix: don't upscale the sharing buffer
  core/src/capture/stream.rs
  core/src/utils/geometry.rs
Due: cargo_fmt

feat(core): add clipboard controller
  core/Cargo.lock
  core/Cargo.toml
  core/src/input/clipboard.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/Cargo.lock
  core/tests/Cargo.toml
  core/tests/README.md
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_clipboard.rs
Due: cargo_fmt

feat(frontend): handle clipboard events
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/payloads.ts
Due: prettier

fix: issue with stoping copy/paste events
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix: fix again
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix: order
  core/src/input/clipboard.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
