Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

fix: pricing page for legacy
  backend/api-files/openapi.yaml
  backend/internal/handlers/billing.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
Due: prettier

fix: pricing page for legacy (#355)
  backend/api-files/openapi.yaml
  backend/internal/handlers/billing.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
Due: prettier

Add remote control default setting
  core/src/lib.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

Address remote control review feedback
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/lib.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

Handle cursor policy updates gracefully
  core/src/capture/capturer.rs
  core/src/lib.rs
Due: cargo_fmt

Simplify remote control cursor handling
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt

fix: broken invite flow
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/InvitationHandler.tsx
Due: prettier

chore: fix fmt
  core/src/capture/capturer.rs
  core/src/input/mouse.rs
Due: cargo_fmt

Add remote control default setting (#356)
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

fix: use tauri-tray with fix for macos27
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
Due: none

.
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
Due: none

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: macos27 tray icon click (#357)
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/tauri.conf.json
Due: none

improvement: add sharpening
  core/src/shaders/yuv_shader.wgsl
Due: none

chore: attribution
  core/src/shaders/yuv_shader.wgsl
Due: none

improvement: add explainer message on onboarding
  web-app/src/pages/Onboarding.tsx
Due: prettier

improvement: add sharpening (#358)
  core/src/shaders/yuv_shader.wgsl
Due: none

improvement: include 0 playout delay
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/tauri_rust_reusable.yml
  core/Cargo.lock
  core/src/camera/stream_macos.rs
  core/src/capture/macos_stream.rs
  core/src/room_service.rs
Due: cargo_fmt

fix: update LiveKit video frame initializers
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/tauri_rust_reusable.yml
  core/src/camera/stream_nokhwa.rs
  core/src/capture/stream.rs
Due: cargo_fmt

improvement: update livekit to include 0 playout delay (lower latency) (#359)
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/tauri_rust_reusable.yml
  core/Cargo.lock
  core/src/camera/stream_macos.rs
  core/src/camera/stream_nokhwa.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/aspect_ratio/windows.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: duplicate error handling
  core/src/capture/macos_stream.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: duplicate error handling (#361)
  core/src/capture/macos_stream.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

feat: add window sharing with Meet-style picker and tracking markers
  core/build.rs
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/linux.rs
  core/src/capture/macos.rs
  core/src/capture/macos_stream.rs
  core/src/capture/sources.rs
  core/src/capture/sources_linux.rs
  core/src/capture/sources_macos.rs
  core/src/capture/sources_windows.rs
  core/src/capture/stream.rs
  core/src/capture/thumbnail.rs
  core/src/capture/thumbnail_macos.rs
  core/src/capture/window_bounds_macos.rs
  core/src/capture/window_focus_macos.rs
  core/src/capture/windows.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/lib.rs
  core/src/overlay_window.rs
  core/src/screen_selection.rs
  core/src/utils/geometry.rs
  core/src/window_manager.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

fix: auto update disable in dev mode
  tauri/src/lib/auto-update.ts
Due: prettier

add: support window capturing on macOS
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/lib.rs
Due: cargo_fmt

add: modify overlay on selection
  core/src/capture/macos_stream.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

add: select window from overlay
  core/src/capture/macos.rs
  core/src/lib.rs
Due: cargo_fmt

add: use window origin for input translation
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/graphics/draw.rs
  core/src/graphics/participant.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

add: make borders to follow the shared window
  core/src/graphics/iced_canvas.rs
  core/src/graphics/marker.rs
Due: cargo_fmt

fix: issue with bluriness
  core/src/capture/macos_stream.rs
Due: cargo_fmt

improve window selection logic
  core/src/capture/macos.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/utils/geometry.rs
  core/src/window_manager.rs
Due: cargo_fmt

guard window selection on macos only
  core/src/graphics/iced_canvas.rs
Due: cargo_fmt

improve filtering on window selection
  core/src/capture/macos.rs
Due: cargo_fmt

handle sharer drawing when window is shared
  core/src/lib.rs
  core/src/window/drawing_window.rs
Due: cargo_fmt

fix: bugs with repositioning
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

fix: re-enter room
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

fix: re-enter room (#368)
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier
