Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

fix: review comments
  core/src/input/keyboard.rs
Due: cargo_fmt

fix: reported issues (#388)
  core/src/input/keyboard.rs
  core/src/input/keyboard_macos.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

feat(web-app): let team admins rename their team in settings
  web-app/src/pages/Settings.tsx
Due: prettier

perf(selfhost): compress responses in the bundled Caddy
  selfhost/Caddyfile
Due: none

perf(web-app): shrink login and dashboard images
  web-app/src/assets/LoginScreen.png
  web-app/src/assets/LoginScreen.webp
  web-app/src/assets/PairingBuddy.png
  web-app/src/assets/PairingBuddy.webp
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Login.tsx
Due: prettier

fix(web-app): do not let the team name refetch decide on success
  web-app/src/pages/Settings.tsx
Due: prettier

perf: shrink web app bundle from 7.9 MB to 3.0 MB (#389)
  selfhost/Caddyfile
  web-app/src/assets/LoginScreen.png
  web-app/src/assets/LoginScreen.webp
  web-app/src/assets/PairingBuddy.png
  web-app/src/assets/PairingBuddy.webp
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Login.tsx
Due: prettier

feat: let team admins rename their team in settings (#390)
  web-app/src/pages/Settings.tsx
Due: prettier

feat(backend): register social login providers only when configured
  backend/internal/config/config.go
  backend/internal/server/server.go
  backend/test/integration/feature_switches_test.go
Due: none

feat(backend): add DISABLE_SIGNUP and DISABLE_PASSWORD_LOGIN switches
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/config/config_test.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/instanceConfig.go
  backend/internal/server/server.go
  backend/test/integration/feature_switches_test.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
Due: prettier

feat(web-app): follow instance config on login and subscription pages
  web-app/src/components/sidebar.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/Subscription.tsx
Due: prettier

doc: document access control switches for self-hosting
  docs/src/content/docs/open-source/self-hosting.md
  selfhost/.env.example
  selfhost/compose.yml
Due: none

fix(backend): do not accept Slack alone for DISABLE_PASSWORD_LOGIN
  backend/internal/config/config.go
  backend/internal/config/config_test.go
  docs/src/content/docs/open-source/self-hosting.md
  selfhost/.env.example
Due: none

feat(backend): add generic OpenID Connect login
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/instanceConfig.go
  backend/internal/handlers/oidc.go
  backend/internal/server/server.go
  backend/test/integration/oidc_test.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
Due: prettier

feat(backend): add OIDC_SINGLE_TEAM to put all OIDC users into one team
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/test/integration/oidc_test.go
Due: none

doc: document OpenID Connect login for self-hosting
  docs/src/content/docs/open-source/self-hosting.md
  selfhost/.env.example
  selfhost/compose.yml
Due: none

feat(web-app): add OpenID Connect login button
  web-app/src/pages/Login.tsx
Due: prettier

fix(backend): bind OIDC single-team mode to a dedicated team
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/models/team.go
  backend/test/integration/oidc_test.go
  docs/src/content/docs/open-source/self-hosting.md
  selfhost/.env.example
Due: none

fix(backend): verify OIDC ID token signatures and require https
  backend/go.mod
  backend/internal/handlers/handlers.go
  backend/internal/handlers/oidc.go
  backend/internal/handlers/oidcKeys.go
  backend/test/integration/oidc_test.go
  docs/src/content/docs/open-source/self-hosting.md
Due: none

fix(tauri): open the configured server from the Profile menu item
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

fix(backend): close two gaps in the OIDC callback
  backend/internal/handlers/handlers.go
  backend/internal/handlers/oidc.go
  backend/test/integration/oidc_test.go
Due: none

fix(tauri): open the configured server from the Profile menu item (#393)
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

feat: save bandwidth for clients
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/test/integration/integration_test.go
Due: none
