Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix(core): deadlock when virtual scroll and real happen together
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
Due: cargo_fmt

fix(core): deadlock when virtual scroll and real happen together (#310)
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
Due: cargo_fmt

fix: handle mic name conflicts
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

fix: handle mic name conflicts (#311)
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

improvement: transfer to manage subscription from trial button
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/dialog.tsx
Due: prettier

fix: minor changes
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/dialog.tsx
Due: prettier

improvement: upload logs on app exit
  core/sentry_utils/src/lib.rs
  core/src/capture/capturer.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement: upload last hopp crash on start
  core/sentry_utils/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: coderabbit
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

improvement: upload logs on termination and last crash trace on start (#313)
  core/sentry_utils/src/lib.rs
  core/src/capture/capturer.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

add(frontend): add shortcuts to settings
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

add: shortcut for ending the call
  tauri/package.json
  tauri/src-tauri/capabilities/desktop.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/shortcuts.rs
  tauri/src/core_payloads.ts
  tauri/src/store/store.ts
  tauri/src/windows/settings/main.tsx
  yarn.lock
Due: cargo_fmt, prettier

add: keyboard navigation for content picker
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

add: add tooltip info for actions
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
  tauri/src/components/ui/tooltip.tsx
Due: prettier

improvement: keep trial box visible (#312)
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

impr: include user info in online websocket messages
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  backend/internal/messages/messages_test.go
  tauri/src/payloads.ts
Due: prettier

fix: handle odd dims
  core/src/graphics/yuv_renderer.rs
  core/src/livekit/video.rs
Due: cargo_fmt

fix: align webapp with updated app tracks lifetime
  web-app/src/pages/Room.tsx
Due: prettier

fix: code rabbit
  tauri/src/components/ui/toggle-icon-button.tsx
Due: prettier

fix: guard teammate online notifications
  backend/internal/handlers/websocketHandlers.go
Due: none

chore: design
  web-app/package.json
  web-app/src/components/ui/select.tsx
  web-app/src/pages/Room.tsx
  yarn.lock
Due: prettier

fix: align webapp with updated livekit tracks lifetime (#316)
  core/src/graphics/yuv_renderer.rs
  core/src/livekit/video.rs
  web-app/package.json
  web-app/src/components/ui/select.tsx
  web-app/src/pages/Room.tsx
  yarn.lock
Due: cargo_fmt, prettier

fix: remove names from logs
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

fix: drop websocket with pings and new ping interval
  backend/Taskfile.yml
  backend/internal/handlers/websocketHandlers.go
  tauri/src/services/socket.ts
Due: prettier

revert: dedupe ttl
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: disable call button when receiving a call
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: do not render call-center after 60s of an initiated call
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: add did not answer timeout when we are calling
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

chore: bumb version
  tauri/src-tauri/tauri.conf.json
Due: none

remove: dead code
  backend/internal/handlers/websocketHandlers.go
Due: none

review: feedback
  backend/Taskfile.yml
  backend/internal/handlers/websocketHandlers.go
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: races in incoming calls (#318)
  backend/Taskfile.yml
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
  tauri/src/services/socket.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: room join from another team
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Room.tsx
Due: prettier

fix: room join from another team (#319)
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Room.tsx
Due: prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
