Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

feat: add email field for invoicing
  backend/api-files/openapi.yaml
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/models/team.go
  backend/internal/server/server.go
  backend/web/emails/hopp-invoice.html
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
Due: prettier

feat: add email field for invoicing (#253)
  backend/api-files/openapi.yaml
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/models/team.go
  backend/internal/server/server.go
  backend/web/emails/hopp-invoice.html
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
Due: prettier

fix: wait for the window to match full screen size
  core/src/graphics/graphics_context.rs
  core/src/window_manager.rs
Due: cargo_fmt

fix: compile issue
  core/src/window_manager.rs
Due: cargo_fmt

Rename log messages for fullscreen window handling
  core/src/window_manager.rs
Due: cargo_fmt

fix: wait for the window to match full screen size (#254)
  core/src/graphics/graphics_context.rs
  core/src/window_manager.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

chore: update AGENTS.md
  core/AGENTS.md
Due: none

refactor(core): move render thead to graphics_context
  core/src/graphics/graphics_context.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

improvement(core): simplify cursor hiding logic
  core/src/graphics/graphics_context.rs
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt

clean up
  core/src/graphics/graphics_context.rs
Due: cargo_fmt

docs: minor changes
  docs/src/content/docs/features/drawing.mdx
  docs/src/content/docs/index.mdx
Due: none

add: sharer drawing docs (#251)
  docs/src/assets/drawing-sharer.mp4
  docs/src/content/docs/features/drawing.mdx
  docs/src/content/docs/index.mdx
Due: none

fix: fixes
  core/src/graphics/graphics_context.rs
Due: cargo_fmt

feat: use custom clock, which can be replaced for testing
  core/src/graphics/click_animation.rs
  core/src/graphics/graphics_context.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/utils/clock.rs
Due: cargo_fmt

improvement: show signal issue if participant temporarly disconnects
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: ai fixes
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: block entering a room for not active accounts
  .pre-commit-config.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

refactor: move DrawManager to graphics context
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/tests/src/main.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

wip: add iced_cursor
  core/Cargo.lock
  core/Cargo.toml
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_cursor.rs
Due: cargo_fmt

replace draw manager with participant manager
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_cursor.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/participant.rs
Due: cargo_fmt

refactor: use iced cursors
  core/src/graphics/cursor.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_cursor.rs
  core/src/graphics/participant.rs
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt

update AGENTS.md
  core/AGENTS.md
Due: none

fix perfomance regression
  core/src/graphics/cursor.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/participant.rs
  core/src/lib.rs
Due: cargo_fmt

migrate click animation to iced
  core/src/graphics/click_animation.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/point.rs
  core/src/graphics/shader.wgsl
  core/src/lib.rs
Due: cargo_fmt

chore: clippy
  core/src/graphics/participant.rs
  core/src/lib.rs
  core/src/utils/clock.rs
Due: cargo_fmt

chore: review
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  tauri/src/lib/deepLinkUtils.ts
Due: prettier

fixes
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
Due: none

improvement: Improve disconnection ux (#255)
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: don't crash
  core/src/graphics/participant.rs
Due: cargo_fmt

fix: block entering a room for not active accounts (#256)
  .pre-commit-config.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

fix: issue with duplicate participants
  core/src/graphics/graphics_context.rs
  core/src/graphics/participant.rs
Due: cargo_fmt

fix: review comments
  core/src/graphics/click_animation.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
Due: cargo_fmt

refactor: remove wgpu rendering (#257)
  core/AGENTS.md
  core/Cargo.lock
  core/Cargo.toml
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/participant.rs
  core/src/graphics/point.rs
  core/src/graphics/shader.wgsl
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/utils/clock.rs
  core/src/window_manager.rs
  core/tests/src/main.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

docs: remove TODO
  TODO-Rooms.txt
Due: none

.
  core/src/lib.rs
Due: cargo_fmt

feat: allow events to socket for async communication
  core/Cargo.lock
  core/socket_lib/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/tests/src/local_drawing.rs
  core/tests/src/remote_clipboard.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/remote_drawing.rs
  core/tests/src/remote_keyboard.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

feat: add call start command
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

feat: add audio capturing
  core/AGENTS.md
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/audio/stream.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  core/tests/src/audio_capture.rs
  core/tests/src/main.rs
Due: cargo_fmt
