Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix tests
  core/src/audio/capturer.rs
  core/src/audio/player.rs
  core/tests/src/audio_capture.rs
Due: cargo_fmt

change
  core/src/audio/capturer.rs
Due: cargo_fmt

feat: dev test package, Tauri integration done, updated project.md and more
  core/Cargo.toml
  core/Taskfile.yml
  core/dev/Cargo.lock
  core/dev/Cargo.toml
  core/dev/config.toml
  core/dev/src/main.rs
  core/resources/.fantasticonrc.cjs
  core/resources/icons-font-ttf/icons.css
  core/resources/icons-font-ttf/icons.html
  core/resources/icons-font-ttf/icons.ttf
  core/resources/icons-font/click-pointer.svg
  core/resources/icons-font/pen.svg
  core/resources/icons-font/remote-control.svg
  core/socket_lib/src/lib.rs
  core/src/camera/stream.rs
  core/src/camera_window.rs
  core/src/components/segmented_control.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/src/livekit/participant.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
  core/src/screensharing_window.rs
  core/src/shaders/yuv_shader.wgsl
  core/tests/src/camera.rs
  openspec/project.md
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/core_payloads.ts
  tauri/src/lib/hooks.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

fix obs capturing issue
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream.rs
Due: cargo_fmt

fix
  core/src/camera/stream.rs
  core/tests/src/camera.rs
Due: cargo_fmt

add camera toggle
  core/src/camera/capturer.rs
  core/src/camera/stream.rs
  core/src/camera_window.rs
  core/src/lib.rs
  core/src/livekit/participant.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
Due: cargo_fmt

.
  core/Taskfile.yml
Due: none

Reduce copies in camera capturing
  core/src/camera/stream.rs
Due: cargo_fmt

camera clean up
  core/src/livekit/video.rs
  core/src/room_service.rs
Due: cargo_fmt

improve video rendering
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
Due: cargo_fmt

move windows to folder
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

minor fixes
  core/src/graphics/yuv_renderer.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

allow custom translate to local cursor and draw objects
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/participant.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

docs: add roadmap
  README.md
Due: none

add drawing participants in screen sharing window
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

draw remote participants' cursors and draw
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

local drawing in controller
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix(core): overlay window in wrong place
  core/src/window_manager.rs
Due: cargo_fmt

fix(core): clear overlay on drop
  core/src/graphics/graphics_context.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: various bugs (#260)
  core/src/graphics/graphics_context.rs
  core/src/window_manager.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix space
  core/src/window/screensharing_window.rs
Due: cargo_fmt

make meta to work
  core/src/window/screensharing_window.rs
Due: cargo_fmt

draw improvements
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

add stats window for debugging
  core/src/lib.rs
  core/src/livekit/stats.rs
  core/src/room_service.rs
  core/src/window/stats_window.rs
Due: cargo_fmt

add click animation rendering to screensharing window
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

add echo cancellation
  core/src/audio/processor.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
Due: cargo_fmt

mic fixes
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
Due: cargo_fmt, prettier

fix compilation issues
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

fix: increase timeout on windows
  core/src/window_manager.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

.
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

capture 48k
  core/src/audio/capturer.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

fix: make windows alpha
  web-app/src/pages/Dashboard.tsx
Due: prettier

docs: add roadmap (#259)
  README.md
Due: none

fix double/tripple click
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: right click
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: copy paste (maybe)
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

test scroll
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: scroll
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix hiding remote cursors in controller's view
  core/src/graphics/cursor.rs
  core/src/graphics/participant.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
