Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: hide native scrollbar on macOS when external mouse is connected
  tauri/src/App.css
Due: none

design: bigger camera controls
  core/src/components/split_button.rs
Due: cargo_fmt

feat: new teams download beta by default
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: new teams download beta by default (#279)
  web-app/src/pages/Dashboard.tsx
Due: prettier

design: change update to sidebar
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: hide native scrollbar on macOS when external mouse is connected (#278)
  tauri/src/App.css
Due: none

wip
  core/Cargo.lock
  core/Cargo.toml
  core/src/audio/metrics.rs
  core/src/audio/mixer.rs
  core/src/audio/player.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

do not exclude hopp from capturing
  core/src/capture/stream.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

changes
  core/src/audio/mixer.rs
Due: cargo_fmt

remove try lock
  core/src/audio/mixer.rs
Due: cargo_fmt

remove metrics
  core/src/audio/metrics.rs
  core/src/audio/mixer.rs
  core/src/audio/player.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
Due: cargo_fmt

minor
  core/src/audio/mixer.rs
Due: cargo_fmt

fix async runtime panic
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: v1 beta decision making and onboarding form on mobile
  web-app/package.json
  web-app/src/components/OnboardingModal.tsx
  web-app/src/pages/Dashboard.tsx
  yarn.lock
Due: prettier

fix: v1 beta decision making and onboarding form on mobile (#280)
  web-app/package.json
  web-app/src/components/OnboardingModal.tsx
  web-app/src/pages/Dashboard.tsx
  yarn.lock
Due: prettier

Add toaster for esc info on first sharer drawing
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

fix camera device mismatches
  core/src/camera/capturer.rs
  core/src/camera/stream.rs
  core/src/lib.rs
Due: cargo_fmt

add hang protection
  core/src/lib.rs
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

feat: noise cancel tract
  core/Cargo.lock
  core/Cargo.toml
  core/dev/config.toml
  core/resources/models/dtln_model_1.onnx
  core/resources/models/dtln_model_2.onnx
  core/socket_lib/src/lib.rs
  core/src/audio/denoiser.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  tauri/package.json
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/switch.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  yarn.lock
Due: cargo_fmt, prettier

simplify the denoiser
  core/Cargo.lock
  core/Cargo.toml
  core/src/audio/capturer.rs
  core/src/audio/denoiser.rs
  core/src/audio/mixer.rs
  core/src/audio/player.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
Due: cargo_fmt

final changes
  core/src/audio/denoiser.rs
  tauri/package.json
  yarn.lock
Due: cargo_fmt

make overlay window to follow space changes
  core/src/window_manager.rs
Due: cargo_fmt

hide name even if is_compact is not set
  core/src/window/camera_window.rs
Due: cargo_fmt

add padding in compact mode for traffic lights
  core/src/window/camera_window.rs
Due: cargo_fmt

fix camera lock issue
  core/Cargo.lock
Due: none

flip self
  core/src/graphics/yuv_renderer.rs
  core/src/shaders/yuv_shader.wgsl
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

add prompt for clippy and warnings
  core/prompts/clear_warnings.md
Due: none

handle clippy and warnings
  core/src/audio/capturer.rs
  core/src/audio/denoiser.rs
  core/src/audio/mixer.rs
  core/src/audio/player.rs
  core/src/camera/stream.rs
  core/src/capture/stream.rs
  core/src/components/toast.rs
  core/src/graphics/cursor.rs
  core/src/graphics/yuv_buffer.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/src/livekit/participant.rs
  core/src/livekit/stats.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  core/src/window/stats_window.rs
  core/src/window/vibrancy.rs
  core/src/windows/colors.rs
  core/src/windows/shadows.rs
  tauri/src-tauri/src/app_activation.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/sleep_prevention.rs
Due: cargo_fmt

remove unused tests
  core/src/audio/capturer.rs
  core/src/audio/player.rs
Due: cargo_fmt

disable noise cancelling
  core/src/audio/capturer.rs
  core/src/audio/mixer.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

improve camera
  core/src/camera/capturer.rs
  core/src/camera/stream.rs
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

add audio level
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/icons.tsx
  tauri/src/store/store.ts
Due: cargo_fmt, prettier

coderabbit fixes
  core/src/audio/capturer.rs
  core/src/camera/capturer.rs
  core/src/lib.rs
  core/src/window/aspect_ratio/windows.rs
Due: cargo_fmt

fix: camera hang on stop
  core/src/camera/stream.rs
Due: cargo_fmt

revert: the reverted
  core/src/audio/capturer.rs
  core/src/audio/mixer.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
Due: cargo_fmt

bump version
  tauri/src-tauri/tauri.conf.json
Due: none

fix typescript
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

camera change
  core/src/camera/stream.rs
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt
