Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

add infrastructure for drawing
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/overlay_window.rs
  core/src/room_service.rs
  core/tests/src/events.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

initial drawing implementation
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_marker.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

add many participants drawing test
  core/src/lib.rs
  core/tests/src/main.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

handle end draw
  core/src/graphics/draw.rs
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt

send fewer events
  core/src/input/mouse.rs
Due: cargo_fmt

Change cursor mode on drawing
  core/src/lib.rs
Due: cargo_fmt

controller draws
  core/src/graphics/draw.rs
  core/src/graphics/iced_canvas.rs
  core/src/lib.rs
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/payloads.ts
  tauri/src/windows/screensharing/context.tsx
Due: cargo_fmt, prettier

add drawing buttons in ui
  core/src/graphics/draw.rs
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/windows/screensharing/context.tsx
Due: cargo_fmt, prettier

local drawing controller
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/draw-participant.ts
  tauri/src/components/ui/draw.tsx
Due: prettier

update the drawing logic in sharer to not keep clear state
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

use new events in tauri
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/draw-participant.ts
  tauri/src/payloads.ts
Due: prettier

fix: decrease window's corner radius
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/screensharing/main.tsx
Due: cargo_fmt, prettier

fix: disconnect from call when joining a room
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: clippy
  livekit-local-server/Taskfile.yml
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: minor cosmetic
  tauri/src/App.css
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/permissions/main.tsx
Due: prettier

fix: reduce corner radius and properly handle room connect (#210)
  livekit-local-server/Taskfile.yml
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/App.css
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/permissions/main.tsx
  tauri/src/windows/screensharing/main.tsx
Due: cargo_fmt, prettier

handle remote draw and refactor cursor logic
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/cursor-participant.ts
  tauri/src/components/ui/draw-participant.ts
  tauri/src/components/ui/drawing-layer.tsx
  tauri/src/components/ui/remote-cursors.tsx
Due: prettier

hardcode red for local participant
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

feat: show which participants are in a room
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/server/server.go
  tauri/src/components/ui/room-button.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
Due: prettier

chore: dep changes
  backend/go.mod
  backend/go.sum
Due: none

feat: show which participants are in a room (#212)
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/server/server.go
  tauri/src/components/ui/room-button.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
Due: prettier

fix: disconnect from call when livekit disconnects
  tauri/src/components/ui/call-center.tsx
Due: prettier

7day cookie notification for showing last sign-in service (#179)
  web-app/src/pages/Login.tsx
Due: prettier

fix: tray position
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: clippy issue
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: set location set on initial get
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

chore: handle unwraps gracefully
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: tray position (#216)
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

feat(core): move click animation to its own event
  core/src/input/mouse.rs
  core/src/lib.rs
  core/tests/src/main.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

feat(frontend): send separate event for click animation
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/drawing-layer.tsx
  tauri/src/lib/utils.ts
  tauri/src/payloads.ts
Due: prettier

feat(frontend): store last drawing mode
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: set protected again
  core/src/lib.rs
Due: cargo_fmt

smooth lines in core
  core/src/graphics/draw.rs
  core/src/graphics/iced_renderer.rs
Due: cargo_fmt

update github action rust version
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/tauri_rust_reusable.yml
Due: none

minor review changes
  core/src/graphics/draw.rs
  core/src/graphics/iced_renderer.rs
Due: cargo_fmt

send click animation when remote control disabled
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

chore: design
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

redraw when clearing
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt
