Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

add: settings page (#300)
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/screenshare_client.rs
  tauri/package.json
  tauri/settings.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/checkbox.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/core_payloads.ts
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/feedback/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
  tauri/vite.config.ts
  yarn.lock
Due: cargo_fmt, prettier

revert: revert to vp9 camera stream
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

revert: revert to 720p camera stream
  core/src/camera/stream.rs
Due: cargo_fmt

fix: h264
  core/src/room_service.rs
Due: cargo_fmt

reduce denoiser copies
  core/src/audio/denoiser.rs
Due: cargo_fmt

make one blocking call for mapping
  core/src/graphics/yuv_renderer.rs
Due: cargo_fmt

optimise gpu upload path
  core/src/audio/mixer.rs
  core/src/graphics/yuv_buffer.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/tests/src/camera.rs
Due: cargo_fmt

fix: forgotten change
  core/src/lib.rs
Due: cargo_fmt

improvement: reduce gpu texture upload time (#302)
  core/src/audio/denoiser.rs
  core/src/audio/mixer.rs
  core/src/graphics/yuv_buffer.rs
  core/src/graphics/yuv_renderer.rs
  core/src/lib.rs
  core/tests/src/camera.rs
Due: cargo_fmt

chore: migrate releases to this repo
  .github/workflows/release.yml
  tauri/src-tauri/tauri.conf.json
  web-app/src/pages/Dashboard.tsx
Due: prettier

add: auto generate release notes
  .github/workflows/release.yml
Due: none

add: zip windows msi in action
  .github/workflows/release.yml
Due: none

chore: migrate releases from hopp-releases (#303)
  .github/workflows/release.yml
  tauri/src-tauri/tauri.conf.json
  web-app/src/pages/Dashboard.tsx
Due: prettier

add: init docker compose set up
  .github/workflows/publish-backend-image.yml
  backend/Dockerfile
  backend/Taskfile.yml
  backend/dev-compose.yml
  backend/docker-files/docker-compose.yml
  backend/go.mod
  backend/go.sum
  selfhost/.env.example
  selfhost/.gitignore
  selfhost/Caddyfile
  selfhost/README.md
  selfhost/compose.override.example.yml
  selfhost/compose.yml
  selfhost/livekit.dev.yaml
  selfhost/livekit.yaml
  web-app/src/constants.ts
Due: prettier

fixes
  selfhost/compose.yml
  selfhost/livekit.dev.yaml
  selfhost/livekit.yaml
Due: none

fix
  selfhost/compose.yml
Due: none

update readme
  selfhost/README.md
Due: none

improvement: set server url from settings
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

add: make trials 14 days
  backend/internal/models/user.go
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

docs: rewrite README for stars + signups conversion
  README.md
Due: none

docs: add viewing quality screenshot below demo GIF
  README.md
Due: none

update readme
  README.md
Due: none

fix: disable trial for selfhosting
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/models/user.go
Due: none

fix: coderabbit comments
  docs/src/content/docs/features/settings.mdx
  docs/src/content/docs/open-source/self-hosting.md
  selfhost/compose.yml
Due: none

fix: make mic on by default
  tauri/src-tauri/src/app_state.rs
Due: cargo_fmt

fix: make mic on on default
  tauri/src-tauri/tauri.conf.json
Due: none

improvement: clean clipboard when opening screensharing window
  core/src/window/screensharing_window.rs
Due: cargo_fmt

add: make trials 14 days (#304)
  backend/internal/models/user.go
  tauri/src/components/sidebar/Sidebar.tsx
Due: prettier

fix: upload logs on main event loop hang from tauri
  core/src/lib.rs
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: action env for backend image build
  .github/workflows/publish-backend-image.yml
Due: none

fix: action repo
  .github/workflows/publish-backend-image.yml
Due: none

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix(frontend): multiple accept fired from frontend
  tauri/src/components/ui/call-banner.tsx
Due: prettier

fix(backend): concurrent incoming call request
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
Due: prettier

fix: reset lock on end call too
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: call start bugs (#308)
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
Due: prettier
