Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

chore(core): clippy
  core/src/graphics/draw.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/marker.rs
Due: cargo_fmt

chore(tauri): fix clippy
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

chore: more cleanup
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/draw-participant.ts
  tauri/src/components/ui/drawing-layer.tsx
  tauri/src/components/ui/remote-cursors.tsx
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/utils.ts
Due: prettier

fix: wa for not getting the first events properly
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix: cache the whole mode and not just draw
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: fix clippy
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

chore: task rabbit fixes
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/components/ui/draw.tsx
  tauri/src/components/ui/remote-cursors.tsx
  tauri/src/windows/screensharing/utils.ts
Due: prettier

chore: fix code rabbit core
  core/src/graphics/draw.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: fix drawing mode bug
  core/src/graphics/draw.rs
  tauri/src/components/ui/draw-participant.ts
Due: cargo_fmt, prettier

improvement(frontend): maximise screenshare window on start
  tauri/src/windows/screensharing/main.tsx
Due: prettier

fix: remove transparency for screen share window
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: don't show ripple when remote control is enabled
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix(webapp): Fix long teammate names overflowing in webapp
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: Slack integration
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/models/room.go
  backend/internal/models/slack.go
  backend/internal/server/server.go
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/lib/hooks.ts
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/app.tsx
  web-app/src/App.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/icons.tsx
  web-app/src/index.css
  web-app/src/openapi.d.ts
  web-app/src/pages/Integrations.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/SlackIntegration.tsx
  web-app/src/pages/SlackJoin.tsx
Due: prettier

improvement(frontend): maximise screenshare window on start (#226)
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/windows/screensharing/main.tsx
Due: cargo_fmt, prettier

fix(webapp): Fix long teammate names overflowing in webapp (#229)
  web-app/src/pages/Dashboard.tsx
Due: prettier

chore: coderabbit feedback and docs
  backend/internal/handlers/slackHandlers.go
  docs/astro.config.mjs
  docs/src/assets/integrations/IntegrationsPage.png
  docs/src/assets/integrations/SlackCallAPI.png
  docs/src/content/docs/integrations/slack.mdx
  tauri/src/lib/hooks.ts
  web-app/src/App.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/SlackJoin.tsx
Due: prettier

fix: resize screensharing window on macos
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: resize screensharing window on macos (#231)
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix(frontend): race with resize when programmatic resize is happening
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

feat: Slack integration (#230)
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/models/room.go
  backend/internal/models/slack.go
  backend/internal/server/server.go
  docs/astro.config.mjs
  docs/src/assets/integrations/IntegrationsPage.png
  docs/src/assets/integrations/SlackCallAPI.png
  docs/src/content/docs/integrations/slack.mdx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/lib/hooks.ts
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/app.tsx
  web-app/src/App.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/icons.tsx
  web-app/src/index.css
  web-app/src/openapi.d.ts
  web-app/src/pages/Integrations.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/SlackIntegration.tsx
  web-app/src/pages/SlackJoin.tsx
Due: prettier

fix(frontend): race with resize when programmatic resize is happening (#232)
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

fix: wrong initial state
  tauri/src/lib/deepLinkUtils.ts
Due: prettier

fix: Slack cleanup room ticker
  backend/internal/handlers/slackHandlers.go
Due: none

fix: work in progress
  backend/Taskfile.yml
  diff.txt
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/menubar-icons/Theme=Dark, Property=Default.png
  tauri/src-tauri/menubar-icons/Theme=Dark, Property=Notification.png
  tauri/src-tauri/menubar-icons/Theme=Light, Property=Default.png
  tauri/src-tauri/menubar-icons/Theme=Light, Property=Notification.png
  tauri/src-tauri/resources/tray-icons/tray-dark-default.png
  tauri/src-tauri/resources/tray-icons/tray-dark-notification.png
  tauri/src-tauri/resources/tray-icons/tray-light-default.png
  tauri/src-tauri/resources/tray-icons/tray-light-notification.png
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/tray.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/windows/main-window/tabs/Debug.tsx
  test.txt
Due: cargo_fmt, prettier

fix: work in progress
  tauri/src-tauri/src/tray.rs
Due: cargo_fmt

fix: login issue
  web-app/src/pages/Login.tsx
Due: prettier

wrap up work
  tauri/src-tauri/src/tray.rs
  tauri/src/store/store.ts
Due: cargo_fmt, prettier

clean up
  backend/Taskfile.yml
  diff.txt
  test.txt
Due: none

fix: room clickable
  tauri/src/components/ui/room-button.tsx
Due: prettier

feat(core): implement sharer drawing
  core/resources/pencil.png
  core/socket_lib/src/lib.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/overlay_window.rs
  core/src/room_service.rs
  core/tests/src/local_drawing.rs
  core/tests/src/main.rs
Due: cargo_fmt

feat(core): set permanent and non permanant mode
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/tests/src/local_drawing.rs
  core/tests/src/main.rs
Due: cargo_fmt

feat(tauri): enable drawing for sharer
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

bug: cursor doesn't change
  core/resources/pencil.png
  core/src/lib.rs
Due: cargo_fmt

fix: sync state for remote control
  core/src/room_service.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: cargo_fmt, prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
