Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

keep state when overlay is moving displays
  core/src/graphics/draw.rs
  core/src/graphics/participant.rs
  core/src/lib.rs
Due: cargo_fmt

fix: error without session secret
  backend/internal/config/config.go
Due: none

fix: websocket token minting
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: same team valid checks
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
Due: none

fix: escape html in emails
  backend/internal/email/email.go
Due: none

chore: coderabbit rec
  backend/internal/handlers/websocketHandlers.go
Due: none

handle events on shared window even when hidden
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/input/keyboard.rs
  core/src/input/keyboard_linux.rs
  core/src/input/keyboard_macos.rs
  core/src/input/keyboard_windows.rs
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

keyboard navigation on window selection
  core/src/graphics/iced_canvas.rs
  core/src/lib.rs
Due: cargo_fmt

improvements
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
Due: cargo_fmt

fix: vuln report fixes (#371)
  backend/internal/config/config.go
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/utils.go
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: bug with clicking in different displays
  core/src/input/mouse.rs
  core/src/input/mouse_linux.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

wip: temp fix for flicker, still is buggy
  core/src/input/mouse.rs
  core/src/input/mouse_linux.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
Due: cargo_fmt

fix remaining transtion bug
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
Due: cargo_fmt

chore: fix clippy windows
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
Due: cargo_fmt

fix: give control to sharer when leaving the window, so cursor is not lost
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
Due: cargo_fmt

fix: quality drop on resize and golden gate capture
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
Due: cargo_fmt

fix: use released screencapturekit
  core/Cargo.lock
  core/Cargo.toml
Due: none

improvement: add sharing preference in settings
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

docs: update
  docs/src/assets/screenshare.gif
  docs/src/content/docs/features/keyboard-navigation.mdx
  docs/src/content/docs/features/screen-sharing.mdx
  docs/src/content/docs/features/settings.mdx
Due: none

fix: support multichannel audio outputs
  core/src/audio/mixer.rs
Due: cargo_fmt

fix: support multichannel audio outputs (#372)
  core/src/audio/mixer.rs
Due: cargo_fmt

chore: update livekit
  core/Cargo.lock
Due: none

use h265 for screen sharing
  core/src/room_service.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

feat: implement window sharing on macOS (#363)
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/macos.rs
  core/src/capture/macos_stream.rs
  core/src/capture/stream.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/graphics/participant.rs
  core/src/input/keyboard.rs
  core/src/input/keyboard_linux.rs
  core/src/input/keyboard_macos.rs
  core/src/input/keyboard_windows.rs
  core/src/input/mouse.rs
  core/src/input/mouse_linux.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  core/src/overlay_window.rs
  core/src/room_service.rs
  core/src/utils/geometry.rs
  core/src/window/drawing_window.rs
  core/src/window_manager.rs
  docs/src/assets/screenshare.gif
  docs/src/content/docs/features/keyboard-navigation.mdx
  docs/src/content/docs/features/screen-sharing.mdx
  docs/src/content/docs/features/settings.mdx
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

improvement: fix h265 quality
  core/Cargo.lock
Due: none

feat: allow calling to invite
  .gitignore
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/invite-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/auto-update.ts
  tauri/src/openapi.d.ts
  tauri/src/payloads.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

changes
  backend/internal/handlers/websocketHandlers.go
  backend/internal/handlers/websocketHandlers_test.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/invite-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix:
  tauri/src/windows/main-window/main.tsx
Due: prettier

coderabbit review
  tauri/src/components/ui/invite-banner.tsx
  tauri/src/windows/main-window/app.tsx
Due: prettier

chore: code cleanup
  backend/internal/handlers/handlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/invite-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/lib/hooks.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
  web-app/src/openapi.d.ts
Due: prettier

feat: invite to existing call (#373)
  .gitignore
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/handlers/websocketHandlers_test.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/invite-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/auto-update.ts
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/lib/hooks.ts
  tauri/src/openapi.d.ts
  tauri/src/payloads.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
  web-app/src/openapi.d.ts
Due: prettier

revert: h265, m1 doesn't share anything
  core/src/room_service.rs
Due: cargo_fmt

add h265
  core/src/room_service.rs
Due: cargo_fmt

fix: livekit codec mismatches
  core/Cargo.lock
Due: none

fix: prioritize microphone capture thread
  core/src/audio/capturer.rs
Due: cargo_fmt

Reduce audio drift log noise
  core/src/livekit/audio.rs
Due: cargo_fmt

improvement: use frame wide border
  core/resources/marker_bottom_left.png
  core/resources/marker_bottom_left_big.png
  core/resources/marker_bottom_right.png
  core/resources/marker_bottom_right_big.png
  core/resources/marker_top_left.png
  core/resources/marker_top_left_big.png
  core/resources/marker_top_right.png
  core/resources/marker_top_right_big.png
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/window_manager.rs
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: use max priority for audio capturing to reduce cutting (#374)
  core/src/audio/capturer.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

improvement: use frame wide border (#375)
  core/resources/marker_bottom_left.png
  core/resources/marker_bottom_left_big.png
  core/resources/marker_bottom_right.png
  core/resources/marker_bottom_right_big.png
  core/resources/marker_top_left.png
  core/resources/marker_top_left_big.png
  core/resources/marker_top_right.png
  core/resources/marker_top_right_big.png
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/window_manager.rs
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
