Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix: reduce entry padding when selecting content for sharing (#121)
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

added PublishTrack by splitting CreateRoom (#130)
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

modify pricing to reflect stripe
  web-app/src/pages/Subscription.tsx
Due: prettier

added dark mode button
  backend/docker-files/docker-compose.yml
  backend/env-files/.env.local
  package.json
  web-app/package.json
  web-app/src/App.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/color-mode-button.tsx
  web-app/src/components/ui/color-mode.tsx
  web-app/src/main.tsx
  yarn.lock
Due: prettier

fixed ports and removed unwanted packages
  backend/docker-files/docker-compose.yml
  backend/env-files/.env.local
  package.json
Due: none

chore: pointer icon and click animation in controller
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/icons.tsx
Due: prettier

cleaned up code
  yarn.lock
Due: none

fix: align dependencies, add missing peer deps, update yarn.lock
  docs/package.json
  package.json
  tauri/package.json
  web-app/package.json
  yarn.lock
Due: none

chore: revert unrelated dependency changes, keep only web-app relevant edits
  docs/package.json
  package.json
  tauri/package.json
  yarn.lock
Due: none

feat(web-app): add remove button dialog and integrate remove teammate api endpoint
  web-app/src/components/RemoveTeammateDialog.tsx
  web-app/src/pages/Teammates.tsx
Due: prettier

feat: update openapi yaml and generate types
  backend/api-files/openapi.yaml
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
Due: prettier

feat(backend): added SendTeamRemovalEmail to email client and email html
  backend/internal/email/email.go
  backend/web/emails/hopp-team-removed.html
Due: none

feat(backend): added RemoveTeammate function and setup api route in server
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
Due: none

fix: email wording tidy up
  backend/web/emails/hopp-team-removed.html
Due: none

chore: minor fixes
  core/src/graphics/click_animation.rs
Due: cargo_fmt

feat: add click animation in sharer (#131)
  core/resources/click_texture.png
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/point.rs
  core/src/graphics/shader.wgsl
  core/src/input/mouse.rs
  core/src/lib.rs
  core/tests/src/main.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/screenshare_client.rs
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/icons.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

Add pairing shield to README
  README.md
Due: none

chore: review feedback
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/web/emails/hopp-team-removed.html
  web-app/src/components/ui/dialog.tsx
Due: prettier

feat: remove team member (#136)
  backend/api-files/openapi.yaml
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/web/emails/hopp-team-removed.html
  tauri/src/openapi.d.ts
  web-app/src/components/RemoveTeammateDialog.tsx
  web-app/src/components/ui/dialog.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Teammates.tsx
Due: prettier

feat: better login screen
  web-app/components.json
  web-app/package.json
  web-app/src/assets/LoginScreen.png
  web-app/src/components/ui/animated-tooltip.tsx
  web-app/src/pages/Login.tsx
  yarn.lock
Due: prettier

chore: review feedback
  core/src/lib.rs
  tauri/src/store/store.ts
Due: cargo_fmt, prettier

feat: rooms out of beta (#118)
  TODO-Rooms.txt
  backend/api-files/Create Room.bru
  backend/api-files/Create User.bru
  backend/api-files/Delete Room.bru
  backend/api-files/Get Room.bru
  backend/api-files/Get Rooms.bru
  backend/api-files/Get user info.bru
  backend/api-files/Update Room.bru
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/room.go
  backend/internal/server/server.go
  docs/src/assets/room.gif
  docs/src/content/docs/features/rooms.mdx
  docs/src/styles/global.css
  tauri/package.json
  tauri/src/App.css
  tauri/src/assets/door.png
  tauri/src/components/ui/alert-dialog.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/dialog.tsx
  tauri/src/components/ui/room-button.tsx
  tauri/src/openapi.d.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
  yarn.lock
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

improvement: throttle wheel and mouse move events
  core/src/input/mouse.rs
  core/src/input/mouse_windows.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: cargo_fmt, prettier

fix: overlay window title bar visible on windows
  core/src/graphics/direct_composition.rs
  core/src/graphics/graphics_context.rs
  core/src/lib.rs
Due: cargo_fmt

fix: batch cursor events (#140)
  core/src/graphics/direct_composition.rs
  core/src/graphics/graphics_context.rs
  core/src/input/mouse.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: cargo_fmt, prettier

improvement(frontend): add more mic config variables
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: make button text smaller in call actions
  tauri/src/components/ui/toggle-icon-button.tsx
Due: prettier

adjust text size to 11px as requested by reviewer
  tauri/src/components/ui/toggle-icon-button.tsx
Due: prettier

fix(backend): social auth
  backend/internal/handlers/handlers.go
Due: none

fix(backend): social auth (#143)
  backend/internal/handlers/handlers.go
Due: none

fix: make button text smaller in call actions (#141)
  tauri/src/components/ui/toggle-icon-button.tsx
Due: prettier

fix: styling
  web-app/src/pages/Login.tsx
Due: prettier

feat: better login screen (#139)
  web-app/components.json
  web-app/package.json
  web-app/src/assets/LoginScreen.png
  web-app/src/components/ui/animated-tooltip.tsx
  web-app/src/pages/Login.tsx
  yarn.lock
Due: prettier

chore: update docs for mock users
  docs/src/content/docs/quick-start/local-development/development-workflow.mdx
  tauri/DEVELOPMENT.md
Due: none

chore: update docs for mock users (#145)
  docs/src/content/docs/quick-start/local-development/development-workflow.mdx
  tauri/DEVELOPMENT.md
Due: none

feat: disable calling when trial has expired
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
Due: prettier

chore: rename error
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
Due: prettier

feat: disable calling when trial has expired (#146)
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
Due: prettier

fix: mic minor adjustments
  tauri/src/components/ui/call-center.tsx
Due: prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
