Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

revert: h264
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: unsub from same video participant
  core/sentry_utils/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

improvement: collect call stats and log
  core/src/livekit/stats.rs
Due: cargo_fmt

debug: add debug option for codec selection
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: cargo_fmt, prettier

improvement: stop screen-share from camera window
  core/src/window/camera_window.rs
  core/src/window_manager.rs
Due: cargo_fmt

fix: show participant in pinned camera window
  core/src/window/camera_window.rs
Due: cargo_fmt

improvement: stop screen-share from camera window (#377)
  core/src/window/camera_window.rs
  core/src/window_manager.rs
Due: cargo_fmt

improvement: camera bandwidth usage
  core/Taskfile.yml
  core/dev/config.toml
  core/dev/src/main.rs
  core/src/camera/capturer.rs
  core/src/room_service.rs
  core/src/utils/geometry.rs
  core/tests/run_camera_clones.sh
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

revert: debug codec selection
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: cargo_fmt, prettier

improvement: camera bandwidth usage (#378)
  core/Taskfile.yml
  core/dev/config.toml
  core/dev/src/main.rs
  core/src/camera/capturer.rs
  core/src/room_service.rs
  core/src/utils/geometry.rs
  core/src/window/camera_window.rs
  core/tests/run_camera_clones.sh
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

improvement: log call stats for debugging (#379)
  core/sentry_utils/src/lib.rs
  core/src/livekit/stats.rs
  core/src/room_service.rs
Due: cargo_fmt

fix: past due manage sub dashboard
  web-app/src/pages/Subscription.tsx
Due: prettier

fix: past due manage sub dashboard (#380)
  web-app/src/pages/Subscription.tsx
Due: prettier

feat: add call controls to the screen-sharing window
  core/src/components/call_controls.rs
  core/src/components/mod.rs
  core/src/components/split_button.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/aspect_ratio.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

chore: fix clippy
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

chore: update prompts
  core/prompts/clear_warnings.md
  core/prompts/review.md
Due: none

feat: add call controls to the screen-sharing window (#381)
  core/prompts/clear_warnings.md
  core/prompts/review.md
  core/src/components/call_controls.rs
  core/src/components/mod.rs
  core/src/components/split_button.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/aspect_ratio.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

feat: add app veil
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/running_applications_observer.rs
  core/src/capture/stream.rs
  core/src/lib.rs
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/application_catalog.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

feat: controller veil
  core/src/app_veil/macos.rs
  core/src/capture/capturer.rs
  core/src/capture/running_applications_observer.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: code rabbit review
  core/socket_lib/src/lib.rs
  core/src/app_veil/macos.rs
  core/src/capture/running_applications_observer.rs
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

improvement: settings design
  tauri/src/windows/settings/main.tsx
Due: prettier

chore: show app veil as beta
  tauri/src/windows/settings/main.tsx
Due: prettier

feat: implement app veil (#383)
  core/socket_lib/src/lib.rs
  core/src/app_veil/macos.rs
  core/src/capture/capturer.rs
  core/src/capture/macos_stream.rs
  core/src/capture/running_applications_observer.rs
  core/src/capture/stream.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/application_catalog.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

fix: start Slack sessions in the desktop app
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/slackHandlers_test.go
  tauri/src/lib/deepLinkUtils.test.mjs
  tauri/src/lib/deepLinkUtils.ts
Due: prettier

Fix tray window positioning on external monitors
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

fix: setting drag
  tauri/src/windows/settings/main.tsx
Due: prettier

fix: improve non-retina window capture quality
  core/src/capture/macos_stream.rs
Due: cargo_fmt

feat: add abuse blockers
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/ratelimit.go
  backend/internal/handlers/ratelimit_test.go
  backend/internal/handlers/turnstile.go
  backend/internal/handlers/turnstile_test.go
  backend/internal/server/server.go
  backend/test/integration/auth_abuse_test.go
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/components/Turnstile.tsx
  web-app/src/lib/turnstile.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/ForgotPassword.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/ResetPassword.tsx
  web-app/src/vite-env.d.ts
  yarn.lock
Due: prettier

fix: various things (#385)
  core/src/capture/macos_stream.rs
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/windows/settings/main.tsx
Due: cargo_fmt, prettier

fix: resize overlay window when shared screen changes resolution
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

feat: add abuse blockers (#386)
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/ratelimit.go
  backend/internal/handlers/ratelimit_test.go
  backend/internal/handlers/turnstile.go
  backend/internal/handlers/turnstile_test.go
  backend/internal/server/server.go
  backend/test/integration/auth_abuse_test.go
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/components/Turnstile.tsx
  web-app/src/lib/turnstile.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/ForgotPassword.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/ResetPassword.tsx
  web-app/src/vite-env.d.ts
  yarn.lock
Due: prettier

fix: resize overlay window when shared screen changes resolution (#387)
  core/src/lib.rs
  core/src/overlay_window.rs
Due: cargo_fmt

fix: fallback app url fix in web-app
  web-app/src/pages/Dashboard.tsx
Due: prettier

fix: camera placement on external displays
  core/src/window/camera_window.rs
Due: cargo_fmt

fix: forward function keys on macos
  core/src/input/keyboard_macos.rs
Due: cargo_fmt
