Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

feat: push framerate higher
  core/src/capture/stream.rs
  core/src/room_service.rs
Due: cargo_fmt

chore: fix clippy
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
Due: cargo_fmt

chore: bump release
  core/Cargo.toml
  tauri/src-tauri/tauri.conf.json
Due: none

feat: mic level feedback (#190)
  tauri/src/components/ui/bar-visualizer.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/icons.tsx
  tauri/src/components/ui/live-waveform.tsx
Due: prettier

improvement(core): update livekit fork (#193)
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

chore(frontend): fix compile issues
  tauri/src/components/ui/bar-visualizer.tsx
  tauri/src/components/ui/live-waveform.tsx
Due: prettier

improvement: add button for selecting av1
  core/Cargo.lock
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

improvement: use debug button instead
  tauri/src/components/ui/call-center.tsx
  tauri/src/store/store.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: prettier

chore: review comments
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

improvement: add button for selecting av1 (#194)
  core/Cargo.lock
  tauri/src/components/ui/call-center.tsx
  tauri/src/store/store.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: prettier

feat: rewardful integration (#192)
  backend/api-files/openapi.yaml
  backend/internal/handlers/billing.go
  tauri/src/openapi.d.ts
  tauri/vite.config.ts
  web-app/src/lib/rewardful.js
  web-app/src/main.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
  web-app/tsconfig.app.json
Due: prettier

extracted pill and set parent to button
  web-app/src/pages/Login.tsx
Due: prettier

feat: remove vibrancy for lower resource usage
  tauri/camera.html
  tauri/contentPicker.html
  tauri/permissions.html
  tauri/screenshare.html
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/permissions/main.tsx
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/trayNotification/main.tsx
  tauri/trayNotification.html
Due: cargo_fmt, prettier

chore: remove dead code
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement(tauri): allow updating server url on runtime
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/constants.ts
  tauri/src/lib/authUtils.ts
  tauri/src/services/query.tsx
  tauri/src/services/socket.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/invite.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: add posthog event
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/window-utils.ts
Due: prettier

chore: simplify TS/react logic
  tauri/src/constants.ts
  tauri/src/lib/authUtils.ts
  tauri/src/services/query.tsx
  tauri/src/services/socket.ts
  tauri/src/windows/main-window/invite.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

improvement(tauri): allow updating server url on runtime (#197)
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/constants.ts
  tauri/src/lib/authUtils.ts
  tauri/src/services/query.tsx
  tauri/src/services/socket.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/invite.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

feat: remove vibrancy for lower resource usage (#195)
  tauri/camera.html
  tauri/contentPicker.html
  tauri/permissions.html
  tauri/screenshare.html
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/lib/hooks.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/permissions/main.tsx
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/trayNotification/main.tsx
  tauri/trayNotification.html
Due: cargo_fmt, prettier

feat: feedback window
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/feedback.go
  backend/internal/server/server.go
  tauri/feedback.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/ui/call-center.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/feedback/main.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
  web-app/src/openapi.d.ts
Due: cargo_fmt, prettier

fix: handle feedback non existing
  tauri/src-tauri/src/app_state.rs
Due: cargo_fmt

feat: feedback window (#198)
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/feedback.go
  backend/internal/server/server.go
  tauri/feedback.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/ui/call-center.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/feedback/main.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
  web-app/src/openapi.d.ts
Due: cargo_fmt, prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: build issue with feedback and cookie explicit
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  tauri/vite.config.ts
Due: prettier

fix: build issue with feedback and cookie explicit (#199)
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  tauri/vite.config.ts
Due: prettier

feat: allow joining a room from the web-app
  .pre-commit-config.yaml
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  web-app/package.json
  web-app/src/App.tsx
  web-app/src/components/ui/toggle-icon-button.tsx
  web-app/src/pages/Room.tsx
  yarn.lock
Due: prettier

fix: race condition with chaning account
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/services/query.tsx
Due: cargo_fmt, prettier

fix: race condition with chaning account (#202)
  tauri/src-tauri/src/main.rs
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/services/query.tsx
Due: cargo_fmt, prettier

feat: make rooms for only auth users and change design
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/server/server.go
  tauri/src/components/ui/call-center.tsx
  tauri/src/constants.ts
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/App.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Room.tsx
Due: prettier

feat: add remote part cursor support
  tauri/src/lib/utils.ts
  web-app/src/pages/Room.tsx
Due: prettier

docs: add docs info and banner for beta
  docs/src/content/docs/features/rooms.mdx
  web-app/src/assets/door.png
  web-app/src/components/sidebar.tsx
Due: prettier

fix: flaky lk server command
  livekit-local-server/Taskfile.yml
Due: none

feat: enable screenshare from browser
  web-app/src/pages/Room.tsx
Due: prettier

feat: allow joining a room from the web-app (#201)
  .pre-commit-config.yaml
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/server/server.go
  docs/src/content/docs/features/rooms.mdx
  livekit-local-server/Taskfile.yml
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/call-center.tsx
  tauri/src/constants.ts
  tauri/src/lib/utils.ts
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/package.json
  web-app/src/App.tsx
  web-app/src/assets/door.png
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/toggle-icon-button.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Room.tsx
  yarn.lock
Due: prettier

fix: parse first name from GH
  backend/internal/handlers/handlers.go
Due: none

fix: parse first name from GH (#205)
  backend/internal/handlers/handlers.go
Due: none

improvement: update winit and wgpu versions
  core/Cargo.lock
  core/Cargo.toml
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/direct_composition.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/marker.rs
Due: cargo_fmt

feat: replace marker with iced
  core/Cargo.lock
  core/Cargo.toml
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/direct_composition.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_marker.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
Due: cargo_fmt

add livekit data events for drawing
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_drawing.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
