Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

feat: select av1 from frontend
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: use modified av1 encoder
  core/Cargo.lock
Due: none

improvement(frontend): camera
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: use only on call and minor fixes
  core/sentry_utils/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

fix: fix compilation issue
  core/sentry_utils/src/lib.rs
Due: cargo_fmt

chore: fix clippy
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

chore: update workflow files
  .github/workflows/hopp_core_reusable.yml
  .github/workflows/tauri_rust_reusable.yml
Due: none

fix: use callstate for camera state
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

chore: one liner
  tauri/src/components/ui/call-center.tsx
Due: prettier

feat: use av1 when supported (#113)
  backend/internal/handlers/utils.go
  core/Cargo.lock
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: fix merge conflicts
  tauri/src/components/ui/call-center.tsx
Due: prettier

improvement(frontend): camera (#112)
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

WIP
  core/resources/click_texture.png
  core/src/graphics/click_animation.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/point.rs
  core/src/graphics/shader.wgsl
  core/src/input/mouse.rs
  core/src/lib.rs
  core/tests/src/main.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

feat: ban temporary emails from signup
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/handlers.go
Due: none

subscriptions are here
  STRIPE_SETUP.md
  backend/.gitignore
  backend/Taskfile.yml
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/models/subscription.go
  backend/internal/models/team.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/App.tsx
  web-app/src/components/SubscriptionSuccessModal.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/atomic/Buttons.tsx
  web-app/src/components/ui/badge.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Subscription.tsx
  web-app/src/pages/Teammates.tsx
  yarn.lock
Due: prettier

tidy up
  STRIPE_SETUP.md
  backend/STRIPE_SETUP.md
  backend/Taskfile.yml
  backend/internal/handlers/utils.go
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  backend/web/emails/hopp-welcome.html
Due: none

feat: rooms are here
  backend/api-files/openapi.yaml
  tauri/src/App.css
  tauri/src/components/ui/dialog.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
Due: prettier

feat: ban temporary emails from signup (#116)
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/handlers.go
Due: none

Fix audio/video sync: publish audio from camera when enabled and and made some changes in icon padding and text
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/camera/main.tsx
Due: prettier

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: reduce entry padding when selecting content for sharing
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

chore: docs, anonymous participant and empty state
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  docs/src/assets/room.gif
  docs/src/content/docs/features/rooms.mdx
  docs/src/styles/global.css
  tauri/src/assets/door.png
  tauri/src/components/ui/call-center.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
Due: prettier

fix build error
  web-app/src/pages/Dashboard.tsx
Due: prettier

fix isAdmin on user sign up
  backend/internal/handlers/handlers.go
Due: none

fix: conditionally render ListenToRemoteAudio based on camera window state, remove commented code
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: add items-start to prevent grid items from stretching
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

fix: change teams - disable admin
  backend/internal/handlers/handlers.go
Due: none

added PublishTrack by splitting CreateRoom
  core/src/room_service.rs
Due: cargo_fmt

feat: subscriptions are here (#117)
  backend/.gitignore
  backend/STRIPE_SETUP.md
  backend/Taskfile.yml
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/utils.go
  backend/internal/models/subscription.go
  backend/internal/models/team.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/App.tsx
  web-app/src/components/SubscriptionSuccessModal.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/atomic/Buttons.tsx
  web-app/src/components/ui/badge.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Subscription.tsx
  web-app/src/pages/Teammates.tsx
  yarn.lock
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

feat(core): enable click animation
  core/resources/click_texture.png
  core/src/graphics/click_animation.rs
  core/src/graphics/cursor.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/point.rs
  core/src/graphics/shader.wgsl
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

compilation fixes + deadlock fix
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

feat(frontend): add click animation button in sharing screen
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/payloads.ts
  tauri/src/windows/screensharing/context.tsx
Due: prettier

fix: make contentPicker window alwaysOnTop
  tauri/src/windows/window-utils.ts
Due: prettier

fix: track camera window open in callState
  tauri/src/components/ui/call-center.tsx
  tauri/src/store/store.ts
  tauri/src/windows/camera/main.tsx
Due: prettier

chore: fix clippy
  core/src/graphics/click_animation.rs
Due: cargo_fmt

formatting fix
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

fix: reset to having two buttons
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_cursor.rs
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/payloads.ts
  tauri/src/windows/screensharing/context.tsx
Due: cargo_fmt, prettier

minor fix
  core/src/lib.rs
Due: cargo_fmt

revert: keep only items-start change, revert padding modifications
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
