Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.7
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

fix: order again
  core/src/input/clipboard.rs
Due: cargo_fmt

fix: clippy
  core/src/input/clipboard.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: clear clipboard when copying in window
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix: move callback outside of useEffect
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

feat: implement clipboard sharing (#164)
  core/Cargo.lock
  core/Cargo.toml
  core/src/capture/stream.rs
  core/src/input/clipboard.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/src/utils/geometry.rs
  core/tests/Cargo.lock
  core/tests/Cargo.toml
  core/tests/README.md
  core/tests/src/events.rs
  core/tests/src/main.rs
  core/tests/src/remote_clipboard.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/payloads.ts
Due: cargo_fmt, prettier

improvement(sentry): Send envelope instead of live capture event in simple_event function
  core/sentry_utils/src/lib.rs
Due: cargo_fmt

fix: social auth with invite and add tests
  .github/workflows/backend_go_reusable.yml
  .github/workflows/ci.yml
  .golangcli.yml
  .pre-commit-config.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/common/common.go
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  backend/test/integration/auth_test.go.docker_backup
  backend/test/integration/integration_test.go
Due: none

chore: remove dead code
  backend/test/integration/auth_test.go.docker_backup
Due: none

fix: social auth with invite and add tests (#168)
  .github/workflows/backend_go_reusable.yml
  .github/workflows/ci.yml
  .golangcli.yml
  .pre-commit-config.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/common/common.go
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  backend/test/integration/integration_test.go
Due: none

fix: render build version
  .golangcli.yml
  backend/go.mod
Due: none

improvement: make screenshot capturing faster
  core/src/capture/capturer.rs
  core/tests/src/main.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

improvement(sentry): Send envelope instead of live capture event in simple_event function (#167)
  core/sentry_utils/src/lib.rs
Due: cargo_fmt

feat: new onboarding form and github auth
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  web-app/package.json
  web-app/src/assets/PairingBuddy.png
  web-app/src/components/OnboardingModal.tsx
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/components/ui/button.tsx
  web-app/src/components/ui/command.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/multi-select.tsx
  web-app/src/components/ui/on-boarding-featured.tsx
  web-app/src/components/ui/popover.tsx
  web-app/src/components/ui/textarea.tsx
  web-app/src/index.css
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Login.tsx
  yarn.lock
Due: prettier

fix: get res back to the previous one
  core/src/capture/capturer.rs
Due: cargo_fmt

adding github social authentication
  backend/internal/config/config.go
  backend/internal/server/server.go
  web-app/src/pages/Login.tsx
Due: prettier

chore: upscale a bit resolution
  core/src/capture/capturer.rs
Due: cargo_fmt

feat: new onboarding form and github auth (#170)
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  web-app/package.json
  web-app/src/assets/PairingBuddy.png
  web-app/src/components/OnboardingModal.tsx
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/components/ui/button.tsx
  web-app/src/components/ui/command.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/multi-select.tsx
  web-app/src/components/ui/on-boarding-featured.tsx
  web-app/src/components/ui/popover.tsx
  web-app/src/components/ui/textarea.tsx
  web-app/src/index.css
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Login.tsx
  yarn.lock
Due: prettier

improvement: make screenshot capturing faster (#169)
  core/src/capture/capturer.rs
  core/tests/src/main.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

feat: extend onboarding form with referal
  web-app/src/components/OnboardingModal.tsx
Due: prettier

feat: add maximise button to screenshare window
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/components/SharingScreen/Controls.tsx
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/windows/screensharing/context.tsx
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: minor adjustments
  tauri/src-tauri/src/main.rs
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

Adding reset password feature
  backend/api-files/Create_dummy_user.bru
  backend/api-files/Forgot Password.bru
  backend/api-files/Update Password.bru
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/models/token.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/web/emails/hopp-password-reset.html
  web-app/src/App.tsx
  web-app/src/pages/ForgotPassword.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/ResetPassword.tsx
Due: prettier

fixing expiry time in email
  backend/web/emails/hopp-password-reset.html
Due: none

pr feedback
  backend/api-files/Forgot Password.bru
  backend/internal/handlers/handlers.go
  backend/internal/models/token.go
  web-app/src/pages/ResetPassword.tsx
Due: prettier

chore: review comments
  backend/api-files/Create_dummy_user.bru
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/models/resettoken.go
  backend/internal/models/token.go
  backend/internal/server/server.go
  backend/web/emails/hopp-password-reset.html
  tauri/src/openapi.d.ts
  web-app/src/openapi.d.ts
  web-app/src/pages/ForgotPassword.tsx
  web-app/src/pages/ResetPassword.tsx
Due: prettier

chore: bumb golangci-lint version
  .pre-commit-config.yaml
Due: none

revert: uuid to avboid breaking test
  backend/internal/models/resettoken.go
Due: none

chore: explicit golangci-lint version
  .github/workflows/backend_go_reusable.yml
Due: none

revert: explicit go version
  .github/workflows/backend_go_reusable.yml
Due: none

Adding reset password feature (#174)
  backend/api-files/Create_dummy_user.bru
  backend/api-files/Forgot Password.bru
  backend/api-files/Update Password.bru
  backend/api-files/openapi.yaml
  backend/internal/email/email.go
  backend/internal/handlers/handlers.go
  backend/internal/models/resettoken.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/web/emails/hopp-password-reset.html
  tauri/src/openapi.d.ts
  web-app/src/App.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/ForgotPassword.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/ResetPassword.tsx
Due: prettier

fix: add explicit goversion in precommit ci
  .github/workflows/lintint_reusable.yml
Due: none

chore: styling and resize behaviour
  tauri/src/App.css
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/windows/screensharing/main.tsx
Due: prettier

test
  .github/workflows/hopp_core_reusable.yml
  core/src/main.rs
Due: cargo_fmt

feat: new cursor designs
  core/src/utils/svg_renderer.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/cursor.tsx
Due: cargo_fmt, prettier

fix: set colours on window hover
  tauri/src/windows/screensharing/main.tsx
Due: prettier

improvement: create a custom window creation function
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/SharingScreen/utils.ts
Due: cargo_fmt, prettier

chore: fix sizes
  core/src/utils/svg_renderer.rs
Due: cargo_fmt

chore: make content picker also transp
  tauri/contentPicker.html
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/App.css
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier
