Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix: stop screen share on reuse of screenshare window
  core/src/lib.rs
Due: cargo_fmt

improvement: reuse drawing window
  core/src/lib.rs
  core/src/window/drawing_window.rs
Due: cargo_fmt

remove analysis script
  core/analyze_vmmap.sh
  core/leaked_iosurfaces.sh
Due: none

fix: clippy
  core/src/lib.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

remove: drop logic for graphics context as we reuse them now
  core/src/graphics/graphics_context.rs
Due: cargo_fmt

fix: monitor bug
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: coderabbit comments
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/drawing_window.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: improve memory leak (#344)
  core/src/graphics/graphics_context.rs
  core/src/graphics/graphics_window_context.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/participant.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/drawing_window.rs
  core/src/window/screensharing_window.rs
  core/src/window_manager.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: guard events to screen-sharing window with visible
  core/src/lib.rs
Due: cargo_fmt

fix: window reposition on show
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  core/src/window_manager.rs
Due: cargo_fmt

fix: end call while ringing
  backend/internal/handlers/websocketHandlers.go
Due: none

fix: end call while ringing (#348)
  backend/internal/handlers/websocketHandlers.go
Due: none

docs: mention camera pin/unpin
  docs/astro.config.mjs
  docs/public/camera-pin.gif
  docs/src/content/docs/features/camera.mdx
  docs/src/content/docs/features/keyboard-navigation.mdx
Due: prettier

chore: make info logs debug
  core/src/input/clipboard.rs
  core/src/lib.rs
Due: cargo_fmt

feat: still wip for hard paywall
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/handlers/billing_test.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  backend/test/integration/paywall_test.go
  backend/web/emails/hopp-subscription-trial.html
  tauri/src/openapi.d.ts
  web-app/src/App.tsx
  web-app/src/components/OnboardingModal.tsx
  web-app/src/components/SubscriptionSuccessModal.tsx
  web-app/src/lib/rewardful.js
  web-app/src/main.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Login.tsx
  web-app/src/pages/Onboarding.tsx
  web-app/src/pages/Subscription.tsx
Due: prettier

feat: set pencil pointer mode in the screensharing window
  core/src/window/screensharing_window.rs
Due: cargo_fmt

improvement: merge visual mode with mode
  core/src/input/mouse.rs
  core/src/lib.rs
Due: cargo_fmt

feat: add pen icon when remote drawing (#327)
  core/src/graphics/cursor.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/utils/svg_renderer.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

feat: join a room from the contact list
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/components/ui/participants.tsx
Due: prettier

add: comment
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

improvement: remove content picker
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/linux.rs
  core/src/capture/macos.rs
  core/src/capture/windows.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window_manager.rs
  core/tests/src/camera.rs
  core/tests/src/local_drawing.rs
  core/tests/src/main.rs
  core/tests/src/remote_clipboard.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/remote_drawing.rs
  core/tests/src/remote_keyboard.rs
  core/tests/src/screenshare_client.rs
  tauri/contentPicker.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_activation.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/shortcuts.rs
  tauri/src/App.css
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
  tauri/vite.config.ts
Due: cargo_fmt, prettier

wip: more changes
  backend/internal/handlers/billing.go
  backend/internal/handlers/handlers.go
  backend/test/integration/paywall_test.go
  backend/web/emails/hopp-subscription-trial.html
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  backend/web/emails/hopp-welcome.html
  web-app/src/components/OnboardingModal.tsx
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/components/onboarding-fields.tsx
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Onboarding.tsx
Due: prettier

add: make screensharing result an event
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/tests/src/screenshare_client.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

improvements
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window_manager.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/permissions.rs
  tauri/src-tauri/src/permissions/default.rs
  tauri/src-tauri/src/permissions/macos.rs
Due: cargo_fmt

chore: last changes
  backend/internal/callstate/TODOs:
  backend/internal/models/user.go
  backend/test/integration/paywall_test.go
  tauri/src/components/sidebar/Sidebar.tsx
  web-app/src/pages/Onboarding.tsx
Due: prettier

chore: cleanup file
  backend/internal/callstate/TODOs:
Due: none

add: key navigation and ux improvement
  core/src/graphics/iced_canvas.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

.
  core/src/graphics/graphics_context.rs
Due: cargo_fmt

fix: clippy
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_renderer.rs
Due: cargo_fmt

add: select res from settings
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

make it radio
  tauri/src/windows/settings/main.tsx
Due: prettier

improvement: remove content picker (#353)
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/linux.rs
  core/src/capture/macos.rs
  core/src/capture/windows.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window_manager.rs
  core/tests/src/camera.rs
  core/tests/src/local_drawing.rs
  core/tests/src/main.rs
  core/tests/src/remote_clipboard.rs
  core/tests/src/remote_cursor.rs
  core/tests/src/remote_drawing.rs
  core/tests/src/remote_keyboard.rs
  core/tests/src/screenshare_client.rs
  tauri/contentPicker.html
  tauri/src-tauri/capabilities/migrated.json
  tauri/src-tauri/src/app_activation.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/permissions.rs
  tauri/src-tauri/src/permissions/default.rs
  tauri/src-tauri/src/permissions/macos.rs
  tauri/src-tauri/src/shortcuts.rs
  tauri/src/App.css
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/settings/main.tsx
  tauri/src/windows/window-utils.ts
  tauri/vite.config.ts
Due: cargo_fmt, prettier

feat: join a room from the contact list (#350)
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/components/ui/participants.tsx
Due: prettier

feat: add hard paywall in hosted Hopp (#349)
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/email/email.go
  backend/internal/handlers/billing.go
  backend/internal/handlers/billing_test.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  backend/test/integration/paywall_test.go
  backend/web/emails/hopp-subscription-trial.html
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/openapi.d.ts
  web-app/src/App.tsx
  web-app/src/components/OnboardingModal.tsx
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/components/SubscriptionSuccessModal.tsx
  web-app/src/components/onboarding-fields.tsx
  web-app/src/lib/rewardful.js
  web-app/src/main.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Login.tsx
  web-app/src/pages/Onboarding.tsx
  web-app/src/pages/Subscription.tsx
Due: prettier

fix: hard paywall cut-off
  backend/internal/models/user.go
Due: none

improvement: do not render overlay when window not focused
  core/src/graphics/iced_canvas.rs
Due: cargo_fmt

fix: controller cursor mode changes when remote control disabled
  core/src/input/mouse.rs
Due: cargo_fmt

fix: drawing offset from sharer to controller
  core/src/window/drawing_window.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
