Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

fix overlay window visble in dock
  core/src/window_manager.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

use centralised participants snapshot send
  core/src/lib.rs
  core/src/room_service.rs
  core/src/snapshot_sender.rs
Due: cargo_fmt

persist last controller mode
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

fix: don't hide hopp on windows when local drawing is enabled
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: don't hide hopp on windows when local drawing is enabled (#276)
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

publish audio track on create room
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
  core/src/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
Due: cargo_fmt, prettier

feat: slower room connection and design
  tauri/src/components/ui/button.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/main.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

wip camera
  core/socket_lib/src/lib.rs
  core/src/camera/capturer.rs
  core/src/camera/stream.rs
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

wip camera
  core/src/camera/stream.rs
Due: cargo_fmt

publish screenshare track on room create
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/lib.rs
  core/src/livekit/video.rs
  core/src/room_service.rs
Due: cargo_fmt

handle track muted for screensharing
  core/src/room_service.rs
Due: cargo_fmt

use participant identity instead of sid
  core/src/graphics/graphics_context.rs
  core/src/graphics/participant.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/livekit/participant.rs
  core/src/room_service.rs
  core/src/snapshot_sender.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  tauri/src/store/store.ts
Due: cargo_fmt, prettier

remove logs, and useful logs
  core/src/livekit/video.rs
  core/src/room_service.rs
Due: cargo_fmt

fix stale frame ids
  core/src/window/screensharing_window.rs
Due: cargo_fmt

scale camera track
  core/src/camera/stream.rs
  core/src/room_service.rs
Due: cargo_fmt

minor change
  core/src/camera/stream.rs
Due: cargo_fmt

fix unknown participant
  tauri/src-tauri/tauri.conf.json
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

feat: camera dropdown controls
  core/resources/.fantasticonrc.cjs
  core/resources/icons-font-ttf/icons.css
  core/resources/icons-font-ttf/icons.html
  core/resources/icons-font-ttf/icons.ttf
  core/resources/icons-font/chevron-down.svg
  core/resources/icons/chevron-down.svg
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/camera/stream.rs
  core/src/components/mod.rs
  core/src/components/split_button.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/core_payloads.ts
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

fix publishing the screensharing mode on start
  core/src/lib.rs
  core/src/window/screensharing_window.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

preload graphics resources
  core/src/graphics/graphics_window_context.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

windows fixes
  core/socket_lib/src/lib.rs
  core/src/components/fonts.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

windows fixes
  core/src/room_service.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

update cargo.lock
  core/Cargo.lock
  core/src/room_service.rs
Due: cargo_fmt

fix probing area on windows
  core/src/window/screensharing_window.rs
Due: cargo_fmt

support audio hotplug on windows
  core/Cargo.lock
  core/Cargo.toml
  core/src/audio/capturer.rs
  core/src/audio/device_monitor/macos.rs
  core/src/audio/device_monitor/mod.rs
  core/src/audio/device_monitor/windows.rs
  core/src/audio/player.rs
  core/src/lib.rs
Due: cargo_fmt

fix stale messages from camera window
  core/src/audio/device_monitor/macos.rs
  core/src/audio/device_monitor/windows.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
Due: cargo_fmt

orphan camera thread if has blocked
  core/src/camera/stream.rs
Due: cargo_fmt

pre init the iced engine per window too
  core/src/graphics/graphics_window_context.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix overlay window visible titlebar
  core/src/graphics/direct_composition.rs
  core/src/graphics/graphics_context.rs
  core/src/lib.rs
Due: cargo_fmt

update AGENTS.md
  core/AGENTS.md
Due: none

precreate graphics objects for overlay windows too
  core/src/graphics/graphics_context.rs
  core/src/graphics/graphics_window_context.rs
  core/src/graphics/iced_renderer.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

feat: make aspect ratio in Windows work and extract
  core/Cargo.toml
  core/src/lib.rs
  core/src/window/aspect_ratio.rs
  core/src/window/aspect_ratio/macos.rs
  core/src/window/aspect_ratio/windows.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

feat: finalize windows, bg color, padding etc.
  core/src/graphics/graphics_window_context.rs
  core/src/window/aspect_ratio.rs
  core/src/window/camera_window.rs
  core/src/window/screensharing_window.rs
  core/src/window/stats_window.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

windows fix
  core/src/graphics/graphics_window_context.rs
Due: cargo_fmt

fix: chnage wgpu backend, black screen issue
  core/src/graphics/graphics_window_context.rs
Due: cargo_fmt

sync camera selection tauri and frontend
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

handle mic sync between ui and frontend
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier
