Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

chore: default to true
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/lib/deepLinkUtils.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

chore: minor fixes
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/tray.rs
Due: cargo_fmt

feat: add Agents.MD and openspec support
  .cursor/commands/openspec-apply.md
  .cursor/commands/openspec-archive.md
  .cursor/commands/openspec-proposal.md
  .gitignore
  AGENTS.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

chore: improve abstraction
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/tray.rs
Due: cargo_fmt

chore: clippy
  tauri/src-tauri/src/tray.rs
Due: cargo_fmt

fix: format
  tauri/src-tauri/src/tray.rs
Due: cargo_fmt

chore: build fix
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

feat: dynamic tray icon work on macOS (#234)
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/menubar-icons/Theme=Dark, Property=Default.png
  tauri/src-tauri/menubar-icons/Theme=Dark, Property=Notification.png
  tauri/src-tauri/menubar-icons/Theme=Light, Property=Default.png
  tauri/src-tauri/menubar-icons/Theme=Light, Property=Notification.png
  tauri/src-tauri/resources/tray-icons/tray-dark-default.png
  tauri/src-tauri/resources/tray-icons/tray-dark-notification.png
  tauri/src-tauri/resources/tray-icons/tray-light-default.png
  tauri/src-tauri/resources/tray-icons/tray-light-notification.png
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/tray.rs
  tauri/src-tauri/tauri.conf.json
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: cargo_fmt, prettier

fix: restore previous state of remote control enabled
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_renderer.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  core/tests/src/local_drawing.rs
Due: cargo_fmt

fix: show custom cursor
  core/resources/pencil.png
  core/src/lib.rs
Due: cargo_fmt

fix: follow cursor on drawing
  core/src/input/mouse_macos.rs
  core/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: pencil image
  core/resources/pencil.png
  core/src/lib.rs
Due: cargo_fmt

fix: reset local drawing on screen share start
  core/src/lib.rs
Due: cargo_fmt

add core agents.md file
  core/AGENTS.md
Due: none

feat: add Agents.MD and openspec support (#237)
  .cursor/commands/openspec-apply.md
  .cursor/commands/openspec-archive.md
  .cursor/commands/openspec-proposal.md
  .gitignore
  AGENTS.md
  core/AGENTS.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

fix: mic improvement?
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix rejecting call spam
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: mic improvement (#239)
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/main-window/app.tsx
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: livekit disconnect issue
  tauri/src/components/ui/call-center.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: livekit disconnect issue (#240)
  tauri/src/components/ui/call-center.tsx
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

prototype not fixing the issue
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/graphics/marker.rs
  core/src/graphics/overlay_context.rs
  core/src/lib.rs
  core/tests/src/main.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

fix: wrong display issue
  core/src/graphics/graphics_context.rs
  core/src/lib.rs
  core/src/window_manager.rs
  core/tests/src/main.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

chore: clippy
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

chore: clippy
  core/src/window_manager.rs
Due: cargo_fmt

fix: wrong display position (#241)
  core/src/graphics/graphics_context.rs
  core/src/lib.rs
  core/src/window_manager.rs
  core/tests/src/main.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

feat: new muted labels
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

feat: new muted labels (#248)
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

fix: remove slop
  core/src/room_service.rs
Due: cargo_fmt

fix: don't spam with updates when the state doesn't change
  tauri/src/components/SharingScreen/SharingScreen.tsx
Due: prettier

fix: handle gracefully when monitor is unplugged
  core/CLAUDE.md
  core/src/capture/capturer.rs
Due: cargo_fmt

fix: overlay going to the wrong window when a new display added
  core/src/capture/capturer.rs
  core/src/capture/linux.rs
  core/src/capture/macos.rs
  core/src/capture/windows.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

fix: plug unplug monitor (#250)
  core/CLAUDE.md
  core/src/capture/capturer.rs
  core/src/capture/linux.rs
  core/src/capture/macos.rs
  core/src/capture/windows.rs
  core/src/lib.rs
  core/src/window_manager.rs
Due: cargo_fmt

chore: minor cosmetics
  tauri/src/components/ui/call-center.tsx
Due: prettier

feat: add drawing in sharer (#235)
  .cursor/commands/openspec-apply.md
  .cursor/commands/openspec-archive.md
  .cursor/commands/openspec-proposal.md
  .gitignore
  AGENTS.md
  core/AGENTS.md
  core/resources/pencil.png
  core/socket_lib/src/lib.rs
  core/src/graphics/draw.rs
  core/src/graphics/graphics_context.rs
  core/src/graphics/iced_canvas.rs
  core/src/graphics/iced_renderer.rs
  core/src/input/mouse.rs
  core/src/input/mouse_macos.rs
  core/src/lib.rs
  core/src/overlay_window.rs
  core/src/room_service.rs
  core/tests/src/local_drawing.rs
  core/tests/src/main.rs
  openspec/AGENTS.md
  openspec/project.md
  tauri/src-tauri/src/app_state.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

add: sharer drawing docs
  docs/src/assets/drawing-sharer.mp4
  docs/src/content/docs/features/drawing.mdx
Due: none

fix: reverse screeen share icons
  tauri/src/components/ui/call-center.tsx
Due: prettier

improvement(frontend): show reconnection banner earlier
  tauri/src/components/ui/call-center.tsx
Due: prettier
