Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix clippy windows
  core/src/window/aspect_ratio/windows.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

sync debug with app
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src/core_payloads.ts
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: cargo_fmt, prettier

feat: yearly plans
  .gitignore
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/handlers/billing.go
  backend/internal/models/subscription.go
  backend/internal/models/user.go
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/components/ui/switch.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
  yarn.lock
Due: prettier

revert: trick for testing v1 beta
  web-app/package.json
  web-app/src/pages/Dashboard.tsx
Due: prettier

feat: yearly plans (#283)
  .gitignore
  backend/api-files/openapi.yaml
  backend/internal/config/config.go
  backend/internal/handlers/billing.go
  backend/internal/models/subscription.go
  backend/internal/models/user.go
  tauri/src/openapi.d.ts
  web-app/package.json
  web-app/src/components/ui/switch.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Subscription.tsx
  yarn.lock
Due: prettier

chore: cleanup before merge
  core/resources/models/NOTICE.md
Due: none

chore: update yarn
  yarn.lock
Due: none

revert: trick for testing v1 beta (#284)
  web-app/package.json
  web-app/src/pages/Dashboard.tsx
  yarn.lock
Due: prettier

chore: bump release
  core/Cargo.toml
  tauri/src-tauri/tauri.conf.json
Due: none

fix: audio panic on shutdown
  core/Cargo.lock
  core/src/audio/mixer.rs
Due: cargo_fmt

fix: more than 2ch output devices
  core/Cargo.lock
  core/src/audio/mixer.rs
Due: cargo_fmt

fix: aliasing when downsamping
  core/src/audio/capturer.rs
Due: cargo_fmt

fix: previous cleanup
  .gitignore
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/graphics/yuv_buffer.rs
  core/src/lib.rs
  tauri/package.json
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/call-center.tsx
  yarn.lock
Due: cargo_fmt, prettier

wip
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream.rs
  core/src/camera/stream_macos.rs
  core/src/camera/stream_nokhwa.rs
  core/src/camera/test_macos.rs
Due: cargo_fmt

fix: Unsupported pixel format: 846624121
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: clear warnings
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: no use of deprecated functions
  core/src/camera/stream_macos.rs
Due: cargo_fmt

remove: unused test
  core/src/camera/test_macos.rs
Due: cargo_fmt

fix: unnecessary allocations
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: simplify a bit
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: update existing team sub
  backend/internal/handlers/billing.go
Due: none

fix: update existing team sub (#290)
  backend/internal/handlers/billing.go
Due: none

fix: more fixes
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: final
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/capturer.rs
  core/src/camera/stream_macos.rs
Due: cargo_fmt

chore: clippy
  core/src/camera/stream_nokhwa.rs
Due: cargo_fmt

chore: fix windows build
  core/src/camera/capturer.rs
Due: cargo_fmt

fix: replace nokhwa with av-foundation on macos (#286)
  core/Cargo.lock
  core/Cargo.toml
  core/src/camera/capturer.rs
  core/src/camera/stream.rs
  core/src/camera/stream_macos.rs
  core/src/camera/stream_nokhwa.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: visible A when alt-tab received from controller on windows
  core/src/input/keyboard.rs
  core/tests/.cargo/config.toml
  core/tests/src/main.rs
  core/tests/src/remote_keyboard.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

fix: cursor pointing hotspot on windows
  core/src/window/screensharing_window.rs
Due: cargo_fmt

fix: windows bugs (#291)
  core/src/input/keyboard.rs
  core/src/window/screensharing_window.rs
  core/tests/.cargo/config.toml
  core/tests/src/main.rs
  core/tests/src/remote_keyboard.rs
  core/tests/src/screenshare_client.rs
Due: cargo_fmt

fix: set lowest possible fps
  core/src/camera/stream_macos.rs
Due: cargo_fmt

fix: fix camera setting min fps (#292)
  core/src/camera/stream_macos.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: audio crash when mic device is disconnected
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

fix: audio crash when mic device is disconnected (#293)
  core/src/audio/capturer.rs
  core/src/lib.rs
  core/src/livekit/audio.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
