Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier, check_localhost_in_webapp

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

check_localhost_in_webapp:
  name: Check for localhost in web-app.html
  language: system
  entry: "bash -c '\nif grep -i \"API_BASE_URL:\\\"localhost:1926\\\"\" backend/web/web-app.html; then\n  echo \"ERROR: Found localhost reference in backend/web/web-app.html\"\n  exit 1\nfi\n'\n"
  pass_filenames: false

wip: update tailwind
  tauri/package.json
  web-app/tailwind.config.js
  yarn.lock
Due: prettier

Update to tailwind css v4
  tauri/src/components/ui/aspect-ratio.tsx
  tauri/src/components/ui/avatar.tsx
  tauri/src/components/ui/badge.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/context-menu.tsx
  tauri/src/components/ui/dropdown-menu.tsx
  tauri/src/components/ui/input.tsx
  tauri/src/components/ui/scroll-area.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/separator.tsx
  tauri/src/components/ui/textarea.tsx
  tauri/src/components/ui/toggle.tsx
  tauri/src/components/ui/tooltip.tsx
  web-app/src/components/ui/sidebar.tsx
  yarn.lock
Due: prettier

wip: update tailwind
  tauri/package.json
  tauri/postcss.config.js
  tauri/src/App.css
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/badge.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/context-menu.tsx
  tauri/src/components/ui/cursor.tsx
  tauri/src/components/ui/dropdown-menu.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/input.tsx
  tauri/src/components/ui/scroll-area.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/components/ui/select-simple.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/separator.tsx
  tauri/src/components/ui/text-effects.tsx
  tauri/src/components/ui/textarea.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
  tauri/src/components/ui/toggle.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/trayNotification/main.tsx
  tauri/tailwind.config.cjs
  tauri/vite.config.ts
Due: prettier

wip: upgrade tailwind
  tauri/src/components/ui/aspect-ratio.tsx
  tauri/src/components/ui/avatar.tsx
  tauri/src/components/ui/badge.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/input.tsx
  tauri/src/components/ui/scroll-area.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
  tauri/src/components/ui/toggle.tsx
  web-app/src/components/ui/card.tsx
  web-app/src/components/ui/copy-button.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/label.tsx
  web-app/src/components/ui/sidebar.tsx
  web-app/src/components/ui/skeleton.tsx
  web-app/src/components/ui/tooltip.tsx
  web-app/src/hooks/use-mobile.tsx
  web-app/src/main.tsx
  web-app/src/store/store.ts
Due: prettier

testing: prettier
  web-app/src/components/ui/alert.tsx
  web-app/src/components/ui/button.tsx
  web-app/src/components/ui/card.tsx
  web-app/src/components/ui/copy-button.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/label.tsx
  web-app/src/components/ui/separator.tsx
  web-app/src/components/ui/sheet.tsx
  web-app/src/components/ui/sidebar.tsx
  web-app/src/components/ui/skeleton.tsx
  web-app/src/components/ui/tooltip.tsx
  web-app/src/hooks/use-mobile.tsx
  web-app/src/index.css
  web-app/src/main.tsx
  web-app/src/store/store.ts
Due: prettier

chore: pr feedback
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/input.tsx
  tauri/src/components/ui/participants.tsx
  tauri/src/components/ui/textarea.tsx
  tauri/src/components/ui/toggle.tsx
Due: prettier

resolve conflicts
  yarn.lock
Due: none

fix(core): close socket listener after accepting the client
  core/socket_lib/src/lib.rs
Due: cargo_fmt

improvement: use unique socket name per instance
  core/src/lib.rs
  core/src/main.rs
  tauri/Taskfile.yml
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

improvement: make accept non blocking in socket_lib
  core/socket_lib/src/lib.rs
Due: cargo_fmt

chore: fix clippy
  core/socket_lib/src/lib.rs
Due: cargo_fmt

chore: review feedback
  backend/internal/handlers/handlers.go
Due: none

feat: add unsubscribe endpoints and user model changes (#90)
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/web/unsubscribe-form.html
  backend/web/unsubscribe-success.html
Due: none

fix: allow only a 1-to-1 mapping between hopp and hopp_core (#93)
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/main.rs
  tauri/Taskfile.yml
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement(frontend): add loading spinner when selecting content
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

chore(backend): update mock data
  backend/sql/mock_data.sql
  backend/web/web-app-debug.html
Due: none

fix(core): fix out of bounds access on stream restart
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
Due: cargo_fmt

improvement: show better error messages when core has stopped
  core/src/capture/capturer.rs
  core/src/lib.rs
  tauri/src-tauri/src/lib.rs
  tauri/src/windows/main-window/app.tsx
Due: cargo_fmt, prettier

chore: make form more engaging
  tauri/src/assets/fail.gif
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/windows/main-window/report.tsx
Due: prettier

fix: add spiner state var
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

fix: review comments
  tauri/src/App.css
  tauri/src/components/ui/input.tsx
  tauri/src/windows/main-window/report.tsx
  web-app/src/components/ui/input.tsx
Due: prettier

build: web-app
  backend/web/web-app-debug.html
  backend/web/web-app.html
Due: check_localhost_in_webapp

Upgrade to tailwindv4 (#64)
  backend/web/web-app-debug.html
  backend/web/web-app.html
  tauri/package.json
  tauri/postcss.config.js
  tauri/src/App.css
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/context-menu.tsx
  tauri/src/components/ui/cursor.tsx
  tauri/src/components/ui/dropdown-menu.tsx
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/input.tsx
  tauri/src/components/ui/participants.tsx
  tauri/src/components/ui/segmented-control.tsx
  tauri/src/components/ui/select-simple.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/text-effects.tsx
  tauri/src/components/ui/textarea.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
  tauri/src/components/ui/toggle.tsx
  tauri/src/components/ui/tooltip.tsx
  tauri/src/windows/main-window/login.tsx
  tauri/src/windows/main-window/report.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  tauri/src/windows/trayNotification/main.tsx
  tauri/tailwind.config.cjs
  tauri/vite.config.ts
  web-app/package.json
  web-app/postcss.config.js
  web-app/src/components/ui/alert.tsx
  web-app/src/components/ui/button.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/separator.tsx
  web-app/src/components/ui/sheet.tsx
  web-app/src/components/ui/sidebar.tsx
  web-app/src/index.css
  web-app/tailwind.config.js
  web-app/vite.config.ts
  yarn.lock
Due: prettier, check_localhost_in_webapp

chore: minor styling and mock data fixes
  backend/sql/mock_data.sql
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

chore: clean unused code
  tauri/src/windows/contentPicker/main.tsx
Due: prettier

review: restart core instead of requesting to restart
  core/src/capture/capturer.rs
  core/src/lib.rs
  tauri/src-tauri/src/lib.rs
  tauri/src/windows/main-window/app.tsx
Due: cargo_fmt, prettier

improvement: remove spammy ping log
  core/src/lib.rs
Due: cargo_fmt

fix: remove requirment of building web-app
  .pre-commit-config.yaml
  backend/.gitignore
Due: none

chore: rm assets from git
  backend/web/web-app-debug.html
  backend/web/web-app.html
Due: check_localhost_in_webapp

fix: fix out of bounds access on stream start_capture (#95)
  backend/sql/mock_data.sql
  backend/web/web-app-debug.html
  backend/web/web-app.html
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/lib.rs
  tauri/src-tauri/src/lib.rs
  tauri/src/assets/fail.gif
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/components/ui/button.tsx
  tauri/src/components/ui/context-menu.tsx
  tauri/src/components/ui/dropdown-menu.tsx
  tauri/src/components/ui/select-simple.tsx
  tauri/src/components/ui/text-effects.tsx
  tauri/src/components/ui/textarea.tsx
  tauri/src/components/ui/tooltip.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/main-window/report.tsx
  tauri/src/windows/trayNotification/main.tsx
  web-app/src/components/ui/sidebar.tsx
Due: cargo_fmt, prettier, check_localhost_in_webapp

fix: already in call rejection
  backend/internal/messages/messages.go
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: remove sensitive data from logs
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/graphics/graphics_context.rs
  core/src/input/keyboard.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/sounds.rs
Due: cargo_fmt

fix: more vibrant call center
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
Due: prettier

fix: remove dependency of building web-app in OSS contribs (#96)
  .pre-commit-config.yaml
  backend/.gitignore
Due: none

fix: upstream remove files
  backend/web/web-app-debug.html
  backend/web/web-app.html
Due: check_localhost_in_webapp

wip: feature rooms
  backend/api-files/Create Room.bru
  backend/api-files/Delete Room.bru
  backend/api-files/Get Room.bru
  backend/api-files/Get Rooms.bru
  backend/api-files/Update Room.bru
  backend/internal/handlers/handlers.go
  backend/internal/models/room.go
  backend/internal/server/server.go
Due: none

fix: empty logs after restart
  tauri/src-tauri/src/lib.rs
Due: cargo_fmt

chore: add max size for logs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

improvement: enhance logs attached to sentry
  core/Cargo.lock
  core/sentry_utils/Cargo.toml
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: fix clippy
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  check_localhost_in_webapp: any of: backend/web/web-app\.html$
