Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

fix: pricing in subscription webapp
  web-app/src/pages/Subscription.tsx
Due: prettier

fix: fix custom url out of sync
  tauri/src/store/store.ts
  tauri/src/windows/settings/main.tsx
Due: prettier

fix: fix custom url out of sync (#320)
  tauri/src/store/store.ts
  tauri/src/windows/settings/main.tsx
Due: prettier

fix: tooltip options on top of selections
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: tooltip shown after clicking outside
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: tooltip options on top of selections (#321)
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: drain video room events
  core/src/room_service.rs
Due: cargo_fmt

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: drain video room events (#322)
  core/src/room_service.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

fix: hang on rapid start/stop threads
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/camera/stream_nokhwa.rs
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/graphics/graphics_context.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/drawing_window.rs
  core/src/window/screensharing_window.rs
  core/tests/src/hang_repro.rs
  core/tests/src/main.rs
Due: cargo_fmt

fix: hang on rapid start/stop threads (#323)
  core/socket_lib/src/lib.rs
  core/src/audio/capturer.rs
  core/src/camera/stream_nokhwa.rs
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/graphics/graphics_context.rs
  core/src/input/mouse_macos.rs
  core/src/input/mouse_windows.rs
  core/src/lib.rs
  core/src/window/camera_window.rs
  core/src/window/drawing_window.rs
  core/src/window/screensharing_window.rs
  core/tests/src/hang_repro.rs
  core/tests/src/main.rs
  tauri/src-tauri/tauri.conf.json
Due: cargo_fmt

add: make call-center the same in room and calls
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

add(backend): call state in redis
  backend/internal/callstate/callstate.go
  backend/internal/common/common.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/server/server.go
Due: none

add: export endpoint for call presence
  backend/api-files/openapi.yaml
  backend/internal/callstate/callstate.go
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

add: show in frontend with which user a user is in a call
  backend/api-files/openapi.yaml
  backend/internal/callstate/callstate.go
  backend/internal/handlers/handlers.go
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/openapi.d.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

refactor: have many users in peer list in the redis entries
  backend/api-files/openapi.yaml
  backend/internal/callstate/callstate.go
  backend/internal/handlers/websocketHandlers.go
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/openapi.d.ts
Due: prettier

add(backend): handle join call from the backend
  backend/internal/callstate/callstate.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
Due: none

improvement: use http endpoint for join call
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  backend/internal/server/server.go
  tauri/src/openapi.d.ts
Due: prettier

add: semi working 3 users in one call
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

improvement: broadcast call state changed for faster ui updates
  backend/internal/handlers/handlers.go
  backend/internal/handlers/slackHandlers.go
  backend/internal/handlers/websocketHandlers.go
  backend/internal/messages/messages.go
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

fix: ui fixes
  tauri/src/components/ui/participant-row-wo-livekit.tsx
Due: prettier

improvement: clean callState redis on server start
  backend/internal/callstate/callstate.go
  backend/internal/server/server.go
Due: none

feat: add pen icon when remote drawing
  core/src/graphics/cursor.rs
  core/src/graphics/participant.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/utils/svg_renderer.rs
Due: cargo_fmt

add: tests for callstate
  backend/go.mod
  backend/go.sum
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
Due: none

refactor: share cursor badge layout
  core/src/utils/svg_renderer.rs
Due: cargo_fmt

fix: ignore unknown drawing mode for cursor state
  core/src/lib.rs
Due: cargo_fmt

fix: fixes
  backend/api-files/openapi.yaml
  backend/internal/callstate/callstate.go
  backend/internal/callstate/callstate_test.go
  tauri/src/components/ui/hopp-avatar.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

fix: frontend fixes
  tauri/src/components/ui/hopp-avatar.tsx
Due: prettier

fix: redraw after cursor badge mode changes
  core/src/input/mouse.rs
Due: cargo_fmt

improvement: remove dead code MouseVisible
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

add: support paste from sharer to controller
  core/src/input/clipboard.rs
  core/src/lib.rs
  core/src/room_service.rs
Due: cargo_fmt

wip
  .github/workflows/publish-backend-image.yml
  docs/src/content/docs/open-source/self-hosting.md
  web-app/src/App.tsx
  web-app/src/constants.ts
  web-app/src/pages/Dashboard.tsx
Due: prettier

fix: align remote pencil cursor tip
  core/src/graphics/cursor.rs
Due: cargo_fmt

revert: remove cursor badge redraw trigger
  core/src/input/mouse.rs
Due: cargo_fmt

fix: keep drawing mode separate from cursor visuals
  core/src/graphics/participant.rs
Due: cargo_fmt

fix: release modifier keys before simulating a copy/paste event
  core/src/input/clipboard.rs
  core/src/lib.rs
Due: cargo_fmt

fix: cache meta and ctrl
  core/src/input/clipboard.rs
  core/src/lib.rs
  core/src/window/screensharing_window.rs
Due: cargo_fmt

improvement: reduce sleep
  core/src/input/clipboard.rs
Due: cargo_fmt

docs: add copy paste docs
  docs/astro.config.mjs
  docs/src/content/docs/features/clipboard.mdx
Due: prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
