Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier, check_localhost_in_webapp

cargo_fmt:
  name: cargo fmt
  language: system
  ...

prettier:
  name: prettier
  language: system
  entry: bash -c "yarn pretty-quick --staged"

check_localhost_in_webapp:
  name: Check for localhost in web-app.html
  language: system
  entry: "bash -c '\nif grep -i \"API_BASE_URL:\\\"localhost:1926\\\"\" backend/web/web-app.html; then\n  echo \"ERROR: Found localhost reference in backend/web/web-app.html\"\n  exit 1\nfi\n'\n"
  pass_filenames: false

fix: add camera entitlement
  tauri/src-tauri/entitlements.plist
Due: none

fix: change permission request mic/camera
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/permissions.rs
  tauri/src-tauri/src/permissions/default.rs
  tauri/src-tauri/src/permissions/macos.rs
  tauri/src/windows/permissions/main.tsx
Due: cargo_fmt, prettier

fix: camera bugs
  core/src/room_service.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

fix(frontend): don't open camera window without a track
  tauri/src-tauri/src/main.rs
  tauri/src/components/ui/call-center.tsx
  tauri/src/windows/contentPicker/main.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

chore: lower camera res
  tauri/src/components/ui/call-center.tsx
Due: prettier

fix: stop debug call sound on unmount
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: prettier

fix: stop debug call sound on unmount (#72)
  tauri/src/windows/main-window/tabs/Debug.tsx
Due: prettier

feat: auto-generate release notes
  cliff.toml
Due: none

fix: breaking ci
  .github/workflows/lintint_reusable.yml
Due: none

fix: formatting with prettier (#70)
  .github/workflows/lintint_reusable.yml
  .pre-commit-config.yaml
Due: none

fix: same team invite and disable tally in dev
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  tauri/src/openapi.d.ts
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/openapi.d.ts
Due: prettier

feat: Add disposable email blocking system to prevent user registration noise
  backend/docs/DISPOSABLE_EMAIL_BLOCKING.md
  backend/env-files/.env.example
  backend/internal/config/config.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/utils/disposable_domains.go
  backend/internal/utils/email_validator.go
  backend/internal/utils/email_validator_test.go
Due: none

feat: auto-generate release notes (#73)
  cliff.toml
Due: none

fix: same team invite and disable tally in dev (#74)
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  tauri/src/openapi.d.ts
  web-app/src/components/SignInSuccessModal.tsx
  web-app/src/openapi.d.ts
Due: prettier

wip
  core/Cargo.lock
  core/Cargo.toml
  core/socket_lib/src/lib.rs
  core/src/lib.rs
  core/src/room_service/livekit_client.rs
  core/src/room_service/room_service.rs
  tauri/src-tauri/src/main.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/WSClient.tsx
  tauri/src/components/SharingScreen/WebCodecsCanvas.tsx
  tauri/src/components/SharingScreen/logs.txt
  tauri/src/windows/screensharing/main.tsx
  tauri/src/windows/window-utils.ts
  tauri/src/workers/wsVideo.worker.ts
Due: cargo_fmt, prettier

feat(frontend): hide self from camera view
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

feat: support camera video scaling
  tauri/src/windows/camera/main.tsx
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

Camera improvements (#76)
  tauri/src-tauri/tauri.conf.json
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/store/store.ts
  tauri/src/windows/camera/main.tsx
  tauri/src/windows/main-window/tabs/Debug.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

chore: bump radix react-dialog to 1.1.15
  web-app/package.json
  yarn.lock
Due: none

design: added shadcn dialog ui component
  web-app/src/components/ui/dialog.tsx
Due: prettier

feat: added windows license modal with instructive video file
  web-app/src/assets/wmv3.mp4
  web-app/src/components/WindowsDownloadModal.tsx
Due: prettier

feat: implemented modal for windows download on dashboard
  web-app/src/components/WindowsDownloadModal.tsx
  web-app/src/pages/Dashboard.tsx
Due: prettier

chore: send sentry logs when ping has failed
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
Due: cargo_fmt

fix: added hosted video and removed local video
  web-app/src/assets/wmv3.mp4
  web-app/src/components/WindowsDownloadModal.tsx
Due: prettier

fix: built static files
  backend/web/web-app-debug.html
  backend/web/web-app.html
Due: check_localhost_in_webapp

feat: Added Temporary missing windows license modal (#80)
  backend/web/web-app-debug.html
  backend/web/web-app.html
  web-app/package.json
  web-app/src/components/WindowsDownloadModal.tsx
  web-app/src/components/ui/dialog.tsx
  web-app/src/pages/Dashboard.tsx
  yarn.lock
Due: prettier, check_localhost_in_webapp

feat: added link to github issue form and removed sentry
  tauri/src/windows/main-window/report.tsx
Due: prettier

feat: created issue form template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

rebase: to main
  backend/web/web-app-debug.html
  backend/web/web-app.html
  web-app/src/pages/Dashboard.tsx
Due: prettier, check_localhost_in_webapp

chore: redesign a bit the flow
  web-app/src/components/AuthenticationDialog.tsx
  web-app/src/components/ui/icons.tsx
  web-app/src/pages/Dashboard.tsx
Due: prettier

repo: rebuild
  backend/web/web-app.html
  web-app/src/components/ui/icons.tsx
Due: prettier, check_localhost_in_webapp

fix: fix deep linking not working (#78)
  backend/web/web-app-debug.html
  backend/web/web-app.html
  web-app/src/components/AuthenticationDialog.tsx
  web-app/src/components/ui/icons.tsx
  web-app/src/pages/Dashboard.tsx
Due: prettier, check_localhost_in_webapp

feat: added os and app version pre-population and saving logs to clipboard
  tauri/src/windows/main-window/report.tsx
Due: prettier

fix: edited github issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Improvement: Replace sentry feedback form with github issue template (#87)
  .github/ISSUE_TEMPLATE/bug_report.yml
  tauri/src/windows/main-window/report.tsx
Due: prettier

feat: add unsubscribe endpoints and user model changes
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/web/unsubscribe-form.html
  backend/web/unsubscribe-success.html
Due: none

wip: update tailwind
  web-app/package.json
  web-app/postcss.config.js
  web-app/src/components/ui/button.tsx
  web-app/src/components/ui/input.tsx
  web-app/src/components/ui/separator.tsx
  web-app/src/components/ui/sheet.tsx
  web-app/src/components/ui/sidebar.tsx
  web-app/src/components/ui/skeleton.tsx
  web-app/src/components/ui/tooltip.tsx
  web-app/src/index.css
  web-app/vite.config.ts
Due: prettier

finalizing web-app
  web-app/src/components/ui/sidebar.tsx
  web-app/src/index.css
Due: prettier

wip: update tailwind
  web-app/src/components/ui/sidebar.tsx
Due: prettier

Path conditions:
  cargo_fmt: any of: \.rs$ and \.rs$
  prettier: any of: ^.*$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  check_localhost_in_webapp: any of: backend/web/web-app\.html$
