Repository gethopp/hopp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo_fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo_fmt
        name: cargo fmt
        language: system
        entry: |
          bash -c '
          STAGED_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep "\.rs$")
          for FILE in $STAGED_FILES; do
            if [[ $FILE == core/* ]]; then
              cd core && cargo fmt && cd - > /dev/null;
            elif [[ $FILE == tauri/src-tauri/* ]]; then
              cd tauri/src-tauri && cargo fmt && cd - > /dev/null;
            fi;
          done
          '
        pass_filenames: false
        types: [rust]
        files: \.rs$
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        types_or: [javascript, jsx, ts, tsx]
        entry: bash -c "yarn pretty-quick --staged"

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.7
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --timeout=5m --config ../.golangcli.yml'

fix: missing logs after restart (#99)
  core/Cargo.lock
  core/sentry_utils/Cargo.toml
  core/sentry_utils/src/lib.rs
  core/socket_lib/src/lib.rs
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
  core/src/graphics/graphics_context.rs
  core/src/input/keyboard.rs
  core/src/input/mouse.rs
  core/src/lib.rs
  core/src/room_service.rs
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/src/main.rs
  tauri/src-tauri/src/sounds.rs
  tauri/src/components/ui/call-banner.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/windows/main-window/app.tsx
  tauri/src/windows/window-utils.ts
Due: cargo_fmt, prettier

feat: better error tracking
  tauri/package.json
  tauri/src/services/sentry.tsx
  tauri/vite.config.ts
  yarn.lock
Due: prettier

fix: remove source maps from actual build to save bundle size
  tauri/src-tauri/tauri.conf.json
  web-app/src/components/SignInSuccessModal.tsx
Due: prettier

improvement: add sentry tracing (#100)
  tauri/package.json
  tauri/src-tauri/tauri.conf.json
  tauri/src/services/sentry.tsx
  tauri/vite.config.ts
  web-app/src/components/SignInSuccessModal.tsx
  yarn.lock
Due: prettier

fix: bug with receiving calls while on another call (#97)
  backend/internal/messages/messages.go
  tauri/src/components/ui/call-center.tsx
  tauri/src/components/ui/participant-row-wo-livekit.tsx
  tauri/src/components/ui/select.tsx
  tauri/src/components/ui/toggle-icon-button.tsx
  tauri/src/payloads.ts
  tauri/src/windows/main-window/app.tsx
Due: prettier

chore: bump release
  tauri/src-tauri/tauri.conf.json
Due: none

fix: recovery path when stream fails
  core/src/capture/capturer.rs
  core/src/capture/stream.rs
Due: cargo_fmt

working server implementation 5ms latency
  core/src/room_service/livekit_client.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

working prototype
  core/src/room_service/livekit_client.rs
  core/src/room_service/room_service.rs
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/WSClient.tsx
  tauri/src/components/SharingScreen/utils.ts
  tauri/src/components/ui/call-center.tsx
  tauri/src/workers/wsVideo.worker.ts
Due: cargo_fmt, prettier

wip: feature room
  backend/api-files/Create Room.bru
  backend/api-files/openapi.yaml
  backend/internal/handlers/handlers.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  tauri/src/components/ui/room-button.tsx
  tauri/src/openapi.d.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

fix: mirror self-view in camera window
  tauri/src/windows/camera/main.tsx
Due: prettier

wip: app changes
  backend/api-files/openapi.yaml
  backend/internal/models/room.go
  core/src/lib.rs
  tauri/src/components/ui/room-button.tsx
  tauri/src/openapi.d.ts
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
  web-app/src/openapi.d.ts
Due: cargo_fmt, prettier

add colourspace
  tauri/src/components/SharingScreen/WebCodecsCanvas.tsx
Due: prettier

match colours with webgl rendering
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/WebCodecsCanvas.tsx
  tauri/src/components/SharingScreen/WebGLCanvas.tsx
  tauri/src/components/SharingScreen/logs.txt
Due: prettier

fix: reuse isSelfTrack variable in component
  tauri/src/windows/camera/main.tsx
Due: prettier

fix: mirror self-view in camera window (#106)
  tauri/src/windows/camera/main.tsx
Due: prettier

wip: more changes
  backend/internal/handlers/handlers.go
  backend/internal/models/room.go
  tauri/src/store/store.ts
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

improvement: more random port allocation on windows
  core/socket_lib/src/lib.rs
Due: cargo_fmt

fix: replica build on windows
  tauri/.gitignore
  tauri/Taskfile.yml
Due: none

fix: args pass
  tauri/Taskfile.yml
Due: none

fix(core): re enable tap after being disabled
  core/src/input/mouse_macos.rs
Due: cargo_fmt

fix: fix replica build on windows (#108)
  tauri/.gitignore
  tauri/Taskfile.yml
Due: none

improvement: more random port allocation on windows (#107)
  core/socket_lib/src/lib.rs
Due: cargo_fmt

fix(core): re enable tap after being disabled (#109)
  core/src/input/mouse_macos.rs
Due: cargo_fmt

wip: feature room
  tauri/package.json
  tauri/src/components/ui/alert-dialog.tsx
  tauri/src/components/ui/dialog.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
  yarn.lock
Due: prettier

fix(core): properly set overlay window's position
  core/src/lib.rs
Due: cargo_fmt

fix(core): properly set overlay window's position (#111)
  core/src/lib.rs
Due: cargo_fmt

fixes from Umair COntinue
  TODO-Rooms.txt
  backend/api-files/Create User.bru
  backend/api-files/Get user info.bru
  tauri/src/components/ui/dialog.tsx
  tauri/src/windows/main-window/tabs/Rooms.tsx
Due: prettier

wip: more changes
  CHANGELOG.md
  JASON.MD
  STRIPE_SETUP.md
  TRAY_THEME_POC.md
  backend/Taskfile.yml
  backend/api-files/openapi.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/handlers/billing.go
  backend/internal/handlers/handlers.go
  backend/internal/models/subscription.go
  backend/internal/models/team.go
  backend/internal/models/user.go
  backend/internal/server/server.go
  backend/sql/mock_data.sql
  backend/web/emails/hopp-subscription.html
  backend/web/emails/hopp-unsubscribe.html
  cloudflared.json
  server.ts
  tauri/src/components/sidebar/Sidebar.tsx
  tauri/src/openapi.d.ts
  temp.MD
  web-app/src/App.tsx
  web-app/src/components/sidebar.tsx
  web-app/src/components/ui/atomic/Buttons.tsx
  web-app/src/components/ui/badge.tsx
  web-app/src/openapi.d.ts
  web-app/src/pages/Dashboard.tsx
  web-app/src/pages/Subscription.tsx
  web-app/src/pages/Teammates.tsx
Due: prettier

webgl changes
  tauri/src/components/SharingScreen/WebGLCanvas.tsx
Due: prettier

allocate vectors once
  core/src/room_service/livekit_client.rs
Due: cargo_fmt

debuggin
  core/src/room_service/livekit_client.rs
Due: cargo_fmt

random improvements
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/components/SharingScreen/WebCodecsCanvas.tsx
  tauri/src/components/SharingScreen/WebGLCanvas.tsx
Due: prettier

offscreen worker
  tauri/src/components/SharingScreen/SharingScreen.tsx
  tauri/src/workers/offscreenRenderer.worker.ts
Due: prettier

fix: mock data sql file
  backend/sql/mock_data.sql
Due: none

feat: set av1 support metadata
  backend/internal/handlers/utils.go
  core/src/room_service.rs
  tauri/src/components/ui/call-center.tsx
Due: cargo_fmt, prettier

feat: use av1 when supported
  core/src/room_service.rs
Due: cargo_fmt
